{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="card">
        <div>
            <div class="nano-content" tabindex="0">
                <div class="card-body height-6   style-default-bright" style="height: auto;">

                    <center>
                        <p>
                            Письмо было отправлено на адрес Email. Он содержит ссылку активации, которую вы должны нажать, чтобы активировать свою учетную запись.
                        </p>
                        <p>  Если письмо с активацией долго не приходит, проверьте папку Спам  </p>
                    </center>
                </div>
                <center>
                    {#<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>#}
                </center>
            </div>
            <div class="nano-pane">
                <div class="nano-slider" style="height: 45px; transform: translate(0px, 95px);"></div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
