{% extends 'index/base.html.twig' %}

{% block body %}
    <style>
        .div-col-md-background{
            background: #e5e6e6; /* Цвет фона */
            color: #000; /* Цвет текста */
            padding: 10px; /* Поля вокруг текста */
            border-radius: 5px; /* Уголки */
            margin-top: 43px;
            padding-bottom: 22px;padding-top: 22px;
        }
    </style>



    <!-- Section: intro -->
    <section id="intro" class="intro">

        <div class="slogan">
            <h2>Соглашение</h2>
            <h4>Условия и положения</h4>
        </div>
        <div class="page-scroll">

        </div>
    </section>
    <!-- /Section: intro -->




    <div class="text-center section py-5">




        <div class="container">

            <div class="row">
                <div class="col-md-12 div-col-md-background">
                    <div><h4> Основные положения </h4></div>
                    <div style="text-align:left">

                        <p> 1 Регистрация в проекте подтверждает согласие сторон на условия пользовательского соглашения.</p>
                        <p> 2 Администрация не несет ответственности за любой ущерб, понесенный пользователем в результате использования проекта.</p>
                        <p> 3 Инвестором может являться любое дееспособное лицо, достигшее 18-ти летнего возраста, являющееся гражданином любой страны, законодательство которой не противоречит условиям данного соглашения.</p>
                        <p> 4 Пользователь имеет право вносить денежные средства на лицевой счет и открывать неограниченное количество депозитов.</p>

                    </div>
                </div>
            </div>

        </div>




        <div class="container">

            <div class="row">
                <div class="col-md-12 div-col-md-background">
                    <div><h4> Платежи </h4></div>
                    <div style="text-align:left">

                        <p> 1 Пользователи могут вносить средства на депозит от 100 $ с помощью платежных систем Bitcoin, Payeer, PerfectMoney, Nix Money.</p>
                        <p> 2 Подтверждение пополнения происходит ручном режиме.</p>
                        <p> 3 Заявки на вывод средств принимаются круглосуточно. Вывод средств осуществляется оператором в ручном режиме в течение 48 часов после создания заявки пользователем. В случае неточной, неполной системы вывода данных от клиента, вывод средств не происходит, а заявка на вывод отклоняется для исправления или уточнения всех неточностей и данных.</p>
                        <p> 4 Список платежных систем, с помощью которых можно осуществлять ввод и вывод средств, может скорректировать заранее.</p>
                        <p> 5 Минимально возможная сумма к выводу на ваш кошелек, составляет 0,50 центов.</p>

                    </div>
                </div>
            </div>

        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-12 div-col-md-background">
                    <div><h4> Ответственность </h4></div>
                    <div style="text-align:left">

                        <p> 1 Компания не несет ответственности за неверно заполненные детали оплаты Инвестора.</p>
                        <p> 2 Компания не несет ответственности за ошибки или сбои в платежных системах.</p>
                        <p> 3 Принятие, данного Соглашения, инвестором при регистрации равносильно вашей подписи, что означает полное принятие данного соглашения.</p>

                        <p>Если вы не согласны с правилами, пожалуйста, не регистрируйтесь. Мы не принуждаем. </p>

                    </div>
                </div>
            </div>

        </div>


    </div>
    <br/><br/><br/><br/>

{% endblock %}
