<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GlobalBigBell ::{% block title %}Учитесь зарабатывать прямо сейчас!{% endblock %}</title>
    <title></title>

    <!-- Bootstrap Core CSS -->
    <link href="/squadfree/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="/squadfree/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/squadfree/css/animate.css" rel="stylesheet"/>
    <!-- Squad theme CSS -->
    <link href="/squadfree/css/style.css" rel="stylesheet">
    <link href="/squadfree/color/default.css" rel="stylesheet">

    {#<!-- =======================================================#}
    {#Theme Name: Squadfree#}
    {#Theme URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/#}
    {#Author: BootstrapMade#}
    {#Author URL: https://bootstrapmade.com#}
    {#======================================================= -->#}

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<!-- Preloader -->
<div id="preloader">
    <div id="load"></div>
</div>

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/main/img/logo.png" style="width: 60px;"/>
                {#<h1>GlobalBigBell</h1>#}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Услуги Клиентам <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/services/individual-management">Фондовая торговля</a></li>
                        <li><a href="/services/robotic-trading">Роботизированная торговля</a></li>
                        <li><a href="/services/ipo">Американские первичные акции (IPO)</a></li>
                        <li><a href="/services/thailand/property-investments">Инвестиции в недвижимость Тайланда</a></li>
                        <li><a href="/services/cars">Доходные автомобили Тайланда</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> О компании <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li><a href="/about">Global Big Bell</a></li>
                        {#<li><a href="#">Отличия от других проектов</a></li>#}
                        {#<li><a href="#">Страхование капитала</a></li>#}
                        {#<li><a href="#">Виды наших финансовых инструментов</a></li>#}

                    </ul>
                </li>
                <li class="dropdown">


                    <a href="/admin/training" class="dropdown-toggle" > Обучение </a>



                    {#<a href="/training" class="dropdown-toggle" > Обучение </a>#}
                    {#<ul class="dropdown-menu">#}

                    {#</ul>#}
                </li>
                {#<li class="dropdown">#}
                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Инвестиции в Тайланд <b class="caret"></b></a>#}
                    {#<ul class="dropdown-menu">#}

                    {#</ul>#}
                {#</li>#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Инструкции <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a target="_blank" href="/docs/1.docx" title="Зарегистрироваться в Портфеле №1-Фондовый.docx"><span class="title">Зарегистрироваться в Портфеле №1-Фондовый.docx</span></a></li>
                        <li><a target="_blank" href="/docs/2.docx" title="Сгенерировать ключи в Quik.docx"><span class="title">Сгенерировать ключи в Quik.docx</span></a></li>
                        <li><a target="_blank" href="/docs/3.doc" title="Установка Quik.doc"><span class="title">Установка Quik.doc</span></a></li>

                        <li><a target="_blank" href="/docs/referral_program.docx" title="referral_program.docx"><span class="title">Реферальная программа.docx</span></a></li>
                        <li><a target="_blank" href="/docs/Instructions_How_to_pay_DUTY.docx" title="referral_program.docx"><span class="title">Инструкция Как оплатить DUTY.docx</span></a></li>



                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/#contact" class="dropdown-toggle">Контакты  </a>
                    {#<ul class="dropdown-menu">#}
                        {#<li>#}
                            {#<a href="/admin/" title="Выйти из системы"  >Мой кабинет</a>#}
                        {#</li>#}
                    {#</ul>#}
                </li>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"> Кабинет <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/admin/" title="Выйти из системы"  >Мой кабинет</a>
                            </li>
                            <li>
                                <a href="/logout" title="Выйти из системы"  >Выйти из системы</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="/admin/" class="dropdown-toggle" data-toggle="dropdown">Войти <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>  <a href="/admin/" title="Выйти из системы"> Мой кабинет</a> </li>
                        </ul>
                    </li>

                {% endif %}

                {##}
                {#Услуги Клиентам#}
                {#О компании#}
                {#Обучение#}
                {#Инвестиции в Тайланд#}
                {#Инструкции#}
                {#Контакты#}
                {#Войти#}

                {#<li class="dropdown">#}
                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Для Вас <b class="caret"></b></a>#}
                    {#<ul class="dropdown-menu">#}
                        {#<li class="active"><a href="#intro">Home</a></li>#}
                        {#<li><a href="/#about">ПОКУПАЙТЕ</a></li>#}
                        {#<li><a href="/#service">Услуги Клиентам</a></li>#}
                        {#<li><a href="/#contact">КОНТАКТЫ</a></li>#}
                    {#</ul>#}
                {#</li>#}

                {#<li class="dropdown">#}
                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">О компании <b class="caret"></b></a>#}
                    {#<ul class="dropdown-menu">#}
                        {#<li><a href="/training" title="обучение" class="btn btn-success" >Oбучение</a></li>#}
                        {#<li><a href="/howto" title="О проекте">Как это работает</a></li>#}
                        {#<li>#}
                            {#<a class="nav-link" href="/agreement" title="Соглашение"> Соглашение </a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="/about" title="О проекте">О проекте</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</li>#}
                {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                    {#<li>#}
                        {#<a href="/admin/" title="Кабинет" class="btn btn-info" >#}
                            {#<b>Кабинет</b>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="/logout" title="Выйти из системы" class="btn btn-danger">Выйти из системы</a>#}
                    {#</li>#}
                {#{% else %}#}
                    {#<li>#}
                        {#<a href="/register/" title="Зарегистрироваться">#}
                            {#<b>Зарегистрироваться</b>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a class="nav-link" href="/admin/" title="Войти в систем"#}
                           {#id="Navbar templates">Войти в систему</a>#}
                    {#</li>#}
                {#{% endif %}#}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



<style>


    .intro {
        -webkit-box-shadow: inset 0px 0px 85px rgba(0,0,0,0.4);
        -moz-box-shadow:    inset 0px 0px 85px rgba(0,0,0,0.4);
        box-shadow:         inset 0px 0px 85px rgba(0,0,0,0.4);

        line-height: 0;         /* ensure no space between bottom */

        display: inline-block;  /* don't go wider than image */
    }
    .intro img {
        position: relative;
        z-index: -1;            /* position beneath */
    }
</style>

{% block body %}{% endblock %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="wow shake" data-wow-delay="0.4s">
                    <div class="page-scroll marginbot-30">
                        <a href="#intro" id="totop" class="btn btn-circle">
                            <i class="fa fa-angle-double-up animated"></i>
                        </a>
                    </div>
                </div>
                <p>&copy; GlobalBigBell.com . All rights reserved.</p>
                <div class="credits">

                    © 2018 Предупреждение: Торговля финансовыми инструментами является рискованным видом деятельности и
                    может принести не только прибыль, но и убытки. Размер возможных потерь ограничен величиной депозита.
                    Заполняя форму регистрации на этой странице, вы соглашаетесь на обработку персональных данных.

                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Core JavaScript Files -->
<script src="/squadfree/js/jquery.min.js"></script>
<script src="/squadfree/js/bootstrap.min.js"></script>
<script src="/squadfree/js/jquery.easing.min.js"></script>
<script src="/squadfree/js/jquery.scrollTo.js"></script>
<script src="/squadfree/js/wow.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/squadfree/js/custom.js"></script>
<script src="/squadfree/contactform/contactform.js"></script>


<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(53161195, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/53161195" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->




<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function(){ var widget_id = 'CvNWLc7DQE';var d=document;var w=window;function l(){
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = '//code.jivosite.com/script/widget/'+widget_id
        ; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}
        if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}
        else{w.addEventListener('load',l,false);}}})();
</script>
<!-- {/literal} END JIVOSITE CODE -->




<style>
    .topbutton {
        z-index: 999;
        width:200px;
        border:2px solid #ccc;
        background:#415437;
        text-align:center;
        padding:10px;
        position:fixed;
        bottom:22px;
        left:85px;
        cursor:pointer;
        color:#fff;
        font-family:verdana;
        font-size:12px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;


        ont-weight: bold;
        text-transform: uppercase;
        line-height: 1.3;
        color: #000;
        text-decoration: none;
        text-align: center;
        vertical-align: top;
        border-radius: 35px;
        border: 1px solid #fcec00;
        letter-spacing: 0.1em;
        white-space: nowrap;
        cursor: pointer;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
        background-color: #fcec00;
        transition: all 0.3s ease;
    }
</style>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="/admin/add/" title="Хочу вступить в клуб" class="topbutton">Пополнить</a>
{% else %}
    <a href="/admin/" title="Хочу вступить в клуб" class="topbutton">Хочу вступить в клуб</a>

{% endif %}

</body>

</html>


{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
    {#<meta charset="utf-8">#}
    {#<meta name="viewport" content="width=device-width, initial-scale=1">#}

    {#<!-- CSS dependencies -->#}
    {#<link rel="stylesheet" href="/main/css/font-awesome.min.css" type="text/css">#}
    {#<link rel='stylesheet' type='text/css' href='/main/css/style.css'/>#}

    {#<!-- PAGE settings -->#}
    {#<link rel="icon" href="/main/img/alarm7.png">#}
    {#<title>The Big Bell::{% block title %}Учитесь зарабатывать прямо сейчас!{% endblock %}</title>#}
    {#<meta name="description" content="Bigbell">#}
    {#<meta name="author" content="">#}
    {#<!-- Twitter -->#}
    {#<meta name="twitter:site" content="@">#}
    {#<meta name="twitter:creator" content="@">#}
    {#<meta name="twitter:card" content="summary">#}
    {#<meta name="twitter:title" content="bigbell">#}
    {#<meta name="twitter:description" content="Big bell">#}
    {#<meta name="twitter:image" content="/main/img/alarm4.png">#}
    {#<!-- Facebook -->#}
    {#<meta property="og:url" content="https://bigbell.net">#}
    {#<meta property="og:title" content="Big Bell">#}
    {#<meta property="og:description" content="Big Bell">#}
    {#<meta property="og:image" content="/main/img/alarm4.png">#}
    {#<meta property="og:image:secure_url" content="img/alarm4.png">#}
    {#<meta property="og:image:type" content="image/png">#}
    {#<meta property="og:image:width" content="1200">#}
    {#<meta property="og:image:height" content="630">#}
    {#<!-- Navbar script -->#}
    {#<script src='/main/js/navbar-ontop.js'></script>#}
    {#<style>#}
        {#*[data-os] {#}
            {#display: none;#}
        {#}#}

        {#.mac *[data-os='mac'] {#}
            {#display: inline-block;#}
        {#}#}

        {#.windows *[data-os='windows'] {#}
            {#display: inline-block;#}
        {#}#}

        {#.linux *[data-os='linux'] {#}
            {#display: inline-block;#}
        {#}#}
    {#</style>#}
{#</head>#}

{#<body>#}
    {#<nav class="navbar navbar-expand-md fixed-top navbar-light bg-white">#}

        {#<div class="container">#}
            {#<a class="navbar-brand" href="/" title=" home" id="Navbar index">#}
                {#<img src="/main/img/logo/alarm.png" class="d-inline-block" alt=" logo" style="padding-bottom: 5px;"#}
                     {#width="25"> BigBell </a>#}
            {#<button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"#}
                    {#data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">#}
                {#<span class="navbar-toggler-icon"></span>#}
            {#</button>#}
            {#<div class="collapse navbar-collapse text-center justify-content-end" id="navbar">#}


                {#<ul class="navbar-nav">#}
                    {#<li class="nav-item mx-1">#}
                        {#<a class="nav-link" href="/howto" title="О проекте">Как это работает</a>#}
                    {#</li>#}
                {#</ul>#}

                {#<ul class="navbar-nav">#}
                    {#<li class="nav-item mx-1">#}
                        {#<a class="nav-link" href="/agreement" title="Соглашение"> Соглашение </a>#}
                    {#</li>#}
                {#</ul>#}

                {#<ul class="navbar-nav">#}
                    {#<li class="nav-item mx-1">#}
                        {#<a class="nav-link" href="/about" title="О проекте">О проекте</a>#}
                    {#</li>#}
                {#</ul>#}

                {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                    {#<ul class="navbar-nav">#}
                        {#<li class="nav-item mx-1">#}
                            {#<a class="nav-link" href="/logout" title="Выйти из системы"#}
                               {#id="Navbar templates">Выйти из системы</a>#}
                        {#</li>#}
                    {#</ul>#}
                    {#<a  a href="/admin/" class="btn btn-secondary mx-2" href="signup" id="Navbar download" title="Кабинет">#}
                        {#<b>Кабинет</b>#}
                    {#</a>#}
                {#{% else %}#}
                    {#<ul class="navbar-nav">#}
                        {#<li class="nav-item mx-1">#}
                            {#<a class="nav-link" href="/admin/" title="Войти в систем"#}
                               {#id="Navbar templates">Войти в систему</a>#}
                        {#</li>#}
                    {#</ul>#}
                    {#<a  a href="/register/" class="btn btn-secondary mx-2" href="signup" id="Navbar download" title="Зарегистрироваться">#}
                        {#<b>Зарегистрироваться</b>#}
                    {#</a>#}
                {#{% endif %}#}
            {#</div>#}
        {#</div>#}
    {#</nav>#}

{#{% block body %}{% endblock %}#}

    {#<footer class="text-center text-lg-left pt-4 bg-dark">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="pt-2 col-lg-3"><a href="index.html" id="Footer logo" title="home">#}
                        {#<img class="img-fluid d-block mb-2 mx-auto" src="/main/img/logo/alarm.png" width="70" alt=" logo">#}
                        {#<h4 class="text-lg-center text-white mb-">BigBell</h4>#}
                        {#<!-- <p class="text-lg-center text-white">#}
                          {#<small>2018.</small>#}
                        {#</p> -->#}
                    {#</a></div>#}
                {#<div class="col-lg-4"></div>#}
                {#<div class="col-lg-5">#}
                    {#<div class="row ">#}
                         {#<!-- todo -->#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row text-white">#}
                {#<div class="col-md-12">#}
                    {#<p class="text-center mt-4 text-muted">#}
                        {#© 2018 Предупреждение: Торговля финансовыми инструментами является рискованным видом деятельности и#}
                        {#может принести не только прибыль, но и убытки. Размер возможных потерь ограничен величиной депозита.#}
                        {#Заполняя форму регистрации на этой странице, вы соглашаетесь на обработку персональных данных.#}
                    {#</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</footer>#}
    {#<script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"#}
            {#crossorigin="anonymous"></script>#}
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>#}



{#</body>#}
{#</html>#}
