{% extends 'index/base.html.twig' %}
{% block body %}


<style>
    .intro .slogan h2 ,.section-heading h2 {
        font-size: 35px;
    }

    @media (max-width: 600px) {
        .intro .slogan h2 {
            z-index: 9;
            font-size: 26px;
        }
    }

</style>

    <!-- Section: intro -->
    <section id="intro" class="intro">

        <div class="slogan">
            <h2>Инвестиционный клуб <br /> global big bell  </h2>
            <h4>Сообщество единомышленников, целью которого является совместное инвестирование и обучение </h4>
        </div>
        <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
    <!-- /Section: intro -->

    <marquee style="background-color: #4e4a4a;"  >
        {% for key,value  in exchangeRates %}
            <span style=" padding-right: 22px; color: #fff2cc "> <b>{{ key }}</b>  {{  value }}</span>
        {% endfor %}
    </marquee>

    <!-- Section: about -->
    <section id="about" class="home-section text-center" style=" padding-bottom: 20px;">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h4>Иивестируйте в активы с высоким потенциалом роста </h4>
                                <i class="fa fa-2x fa-angle-down"></i>
                                <br/>
                                <p>Проинвестировать</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>

            <div class="row">













                {#<!-- be -->#}
                {#<style>#}
                    {#section .style-gray, .offcanvas-pane .style-gray, .card .style-gray, section.style-gray, .offcanvas-pane.style-gray, .card.style-gray {#}
                        {#background-color: #535858;#}
                        {#border-color: #535858;#}
                        {#color: #ffffff;#}
                    {#}#}
                    {#.card-type-pricing .list-unstyled li {#}
                        {#padding: 15px 30px;#}
                        {#border-top: 1px solid #e5e6e6;#}
                    {#}#}
                {#</style>#}
                        {#<!-- BEGIN PRICING CARDS 1 -->#}

                            {#<div class="col-md-3">#}
                                {#<div class="card card-type-pricing text-center">#}
                                    {#<div class="card-body style-gray">#}
                                        {#<h2 class="text-light">Basic</h2>#}
                                        {#<div class="price">#}
                                            {#<center><img src="/main/img/_01.png"  style=" width: 172px;"  alt="" class="img-responsive img-circle" /></center>#}
                                        {#</div>#}
                                        {#<br/>#}
                                        {#<p class="opacity-50"><em>Rame aute irure dolor in reprehenderit pariatur.</em></p>#}
                                    {#</div><!--end .card-body -->#}
                                    {#<div class="card-body no-padding">#}
                                        {#<ul class="list-unstyled">#}
                                            {#<li>20 Pages</li>#}
                                            {#<li>100 GB Bandwidth</li>#}
                                            {#<li>1 GB Storage</li>#}
                                            {#<li>24/7 Customer Support</li>#}
                                        {#</ul>#}
                                    {#</div><!--end .card-body -->#}
                                    {#<div class="card-body">#}
                                        {#<a class="btn btn-default">Sign up</a>#}
                                    {#</div><!--end .card-body -->#}
                                {#</div><!--end .card -->#}
                            {#</div><!--end .col -->#}
                            {#<div class="col-md-3">#}
                                {#<div class="card card-type-pricing text-center">#}
                                    {#<div class="card-body style-gray">#}
                                        {#<h2 class="text-light">Standard</h2>#}
                                        {#<div class="price">#}
                                            {#<span class="text-lg">$</span><h2><span class="text-xxxl">15</span></h2> <span>/mo</span>#}
                                        {#</div>#}
                                        {#<br/>#}
                                        {#<p class="opacity-50"><em>Rame aute irure dolor in reprehenderit pariatur.</em></p>#}
                                    {#</div><!--end .card-body -->#}
                                    {#<div class="card-body no-padding">#}
                                        {#<ul class="list-unstyled">#}
                                            {#<li>40 Pages</li>#}
                                            {#<li>200 GB Bandwidth</li>#}
                                            {#<li>2 GB Storage</li>#}
                                            {#<li>24/7 Customer Support</li>#}
                                        {#</ul>#}
                                    {#</div><!--end .card-body -->#}
                                    {#<div class="card-body">#}
                                        {#<a class="btn btn-default">Sign up</a>#}
                                    {#</div><!--end .card-body -->#}
                                {#</div><!--end .card -->#}
                            {#</div><!--end .col -->#}
                            {#<div class="col-md-3">#}
                                {#<div class="card card-type-pricing text-center">#}
                                    {#<div class="card-body style-primary">#}
                                        {#<h2 class="text-light">Pro</h2>#}
                                        {#<div class="price">#}
                                            {#<span class="text-lg">$</span><h2><span class="text-xxxl">28</span></h2> <span>/mo</span>#}
                                        {#</div>#}
                                        {#<br/>#}
                                        {#<p class="opacity-50"><em>Rame aute irure dolor in reprehenderit pariatur.</em></p>#}
                                    {#</div><!--end .card-body -->#}
                                    {#<div class="card-body no-padding">#}
                                        {#<ul class="list-unstyled">#}
                                            {#<li>Unlimited</li>#}
                                            {#<li>500 GB Bandwidth</li>#}
                                            {#<li>6 GB Storage</li>#}
                                            {#<li>24/7 Customer Support</li>#}
                                        {#</ul>#}
                                    {#</div><!--end .card-body -->#}
                                    {#<div class="card-body">#}
                                        {#<a class="btn btn-primary">Sign up</a>#}
                                    {#</div><!--end .card-body -->#}
                                {#</div><!--end .card -->#}
                            {#</div><!--end .col -->#}
                            {#<div class="col-md-3">#}
                                {#<div class="card card-type-pricing text-center">#}
                                    {#<div class="card-body style-gray">#}
                                        {#<h2 class="text-light">Enterprise</h2>#}
                                        {#<div class="price">#}
                                            {#<span class="text-lg">$</span><h2><span class="text-xxxl">56</span></h2> <span>/mo</span>#}
                                        {#</div>#}
                                        {#<br/>#}
                                        {#<p class="opacity-50"><em>Rame aute irure dolor in reprehenderit pariatur.</em></p>#}
                                    {#</div><!--end .card-body -->#}
                                    {#<div class="card-body no-padding">#}
                                        {#<ul class="list-unstyled">#}
                                            {#<li>Unlimited</li>#}
                                            {#<li>1 TB Bandwidth</li>#}
                                            {#<li>10 GB Storage</li>#}
                                            {#<li>24/7 Customer Support</li>#}
                                        {#</ul>#}
                                    {#</div><!--end .card-body -->#}
                                    {#<div class="card-body">#}
                                        {#<a class="btn btn-default">Sign up</a>#}
                                    {#</div><!--end .card-body -->#}
                                {#</div><!--end .card -->#}
                            {#</div><!--end .col -->#}
                        {#<!--end .row -->#}
                        {#<!-- END PRICING CARDS 1 -->#}

                {#<!-- be -->#}


                <div class="col-lg-3 p-3" style="    ">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="team boxed-grey" style=" height: 373px;">
                            <div class="inner">
                                <h5>Фондовый</h5> <br /><br /><br />
                                {#<p class="subtitle">Pixel Crafter</p>#}
                                <div class="avatar">
                                    <center>
                                        <img src="/main/img/_01.png"  style=" width: 172px;"  alt="" class="img-responsive img-circle" />
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 p-3">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="team boxed-grey" style=" height: 373px;">
                            <div class="inner">
                                <h5>Робототезированая торговля <br />   (валютый робот)</h5> <br />
                                {#<p class="subtitle">Pixel Crafter</p>#}
                                <div class="avatar">
                                    <center>
                                        <img src="/main/img/_1.png"  style=" width: 172px;"  alt="" class="img-responsive img-circle" />
                                    </center><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 p-3">
                    <div class="wow bounceInUp" data-wow-delay="0.5s">
                        <div class="team boxed-grey" style=" height: 373px;">
                            <div class="inner">
                                <h5>Робототезированая торговля  <br /> (криптовалютый робот)</h5>
                                {#<p class="subtitle">Ruby on Rails</p>#}
                                <div class="avatar">
                                    <center>
                                        <img src="/main/img/_2.png"  style=" width: 172px;"  alt="" class="img-responsive img-circle" />
                                    </center>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 p-3">
                    <div class="wow bounceInUp" data-wow-delay="0.8s">
                        <div class="team boxed-grey" style=" height: 373px;">
                            <div class="inner">
                                <h5>IPO</h5><br /><br /><br />
                                {#<p class="subtitle">jQuery Ninja</p>#}
                                <div class="avatar">
                                    <center>
                                        <img src="/main/img/_3.png"  style=" width: 172px;"  alt="" class="img-responsive img-circle" />
                                    </center>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>







            </div>
        </div>



    </section>
    <!-- /Section: about -->


    {#<div class="row">#}
    {#<div class="col-lg-2 col-lg-offset-5">#}
        {#<a href="#contact"  class=" btn btn-skin pull-right " > Получить Консультацию! </a>#}
    {##}

    {#</div>#}

{#</div>#}



    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <center> <a href="#contact"  class=" btn btn-skin " > Получить Консультацию </a> </center>

                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Section: services -->
    <section id="service" class="home-section text-center bg-gray">

        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Услуги Клиентам</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {#<div class="row">#}
                {#<div class="col-lg-2 col-lg-offset-5">#}
                    {#<hr class="marginbot-50">#}
                {#</div>#}
            {#</div>#}
            <div class="row">
                {#<div class="col-md-3">#}
                    {#<div class="wow fadeInLeft" data-wow-delay="0.2s">#}
                        {#<div class="service-box">#}
                            {#<div class="service-icon">#}
                                {#<img src="img/icons/service-icon-1.png" alt="" />#}
                            {#</div>#}
                            {#<div class="service-desc">#}
                                {#<h5>Гарантия#}
                                    {#безопасности#}
                                    {#инвестиций</h5>#}
                                {#<p>Мы предлагаем несколько инвестиционных планов. Инвестируя в любой из них, вы можете#}
                                    {#быть уверены в сохранности своих средств и прибыли.</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-3">#}
                    {#<div class="wow fadeInUp" data-wow-delay="0.2s">#}
                        {#<div class="service-box">#}
                            {#<div class="service-icon">#}
                                {#<img src="img/icons/service-icon-2.png" alt="" />#}
                            {#</div>#}
                            {#<div class="service-desc">#}
                                {#<h5>Стабильные#}
                                    {#денежные выплаты#}
                                    {#инвесторам</h5>#}
                                {#<p>Все выплаты нашим инвесторам осуществляются компанией в течение 48 часов после формирования вашей заявки в личном кабинете.</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-3">#}
                    {#<div class="wow fadeInUp" data-wow-delay="0.2s">#}
                        {#<div class="service-box">#}
                            {#<div class="service-icon">#}
                                {#<img src="img/icons/service-icon-3.png" alt="" />#}
                            {#</div>#}
                            {#<div class="service-desc">#}
                                {#<h5>Партнерская#}
                                    {#программа</h5>#}

                                {#<p>Мы предлагаем партнерскую программу , которая позволит вам получать неограниченный доход.</p>#}

                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-3">#}
                    {#<div class="wow fadeInRight" data-wow-delay="0.2s">#}
                        {#<div class="service-box">#}
                            {#<div class="service-icon">#}
                                {#<img src="img/icons/service-icon-4.png" alt="" />#}
                            {#</div>#}
                            {#<div class="service-desc">#}
                                {#<h5>Мы Обеспечиваем Самые Лучшие Обслуживания</h5>#}
                                {#<p>Мы стараемся сделать лучшие условия обслуживания для Вас. Мы ценим каждого нашего клиента.#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}



                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col"> Название   </th>
                        <th scope="col"> Доходность </th>
                        <th scope="col"> Подробней  </th>
                    </tr>
                    </thead>
                    <tbody style=" text-align: left;">
                    <tr>
                        <th scope="row">1</th>
                        <td>Индивидуальное доверительное управление</td>
                        <td style="color:#335433;" > до 10-25%/мес  </td>
                        <td>
                            <a href="/services/individual-management"> Открыть</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Роботизированная торговля</td>
                        <td style="color:#335433;"> 10-20% в месяц </td>
                        <td>

                            {#<a href="#">Открыть</a>#}



                            <a href="/services/robotic-trading"> Открыть</a>



                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Американские первичные акции (IPO)</td>
                        <td style="color:#335433;"> до 100% - годовых </td>
                        <td>
                            {#<a href="/docs/ipo_doc.docx">Открыть</a>#}


                            <a href="/services/ipo">Открыть</a>




                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Инвестиции в недвижимость Тайланда</td>
                        <td style="color:#335433;" >  15% годовых  </td>
                        <td>
                            <a href="/services/thailand/property-investments">Открыть</a>
                            {#<a href="/docs/PH-V_LH_R.pdf">Открыть</a>  + <a href="/docs/attachments.zip">Фото</a>#}
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">5</th>
                        <td>Доходные автомобили Тайланда</td>
                        <td style="color:#335433;" > до 50% годовых </td>
                        <td>
                            <a href="/services/cars">Открыть</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
        </div>
    </section>
    <!-- /Section: services -->
























    <!-- Section: contact -->
    <section id="contact" class="home-section text-center">
        <div class="heading-contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Контакты</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="boxed-grey">

                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form id="contact-form" action="" method="post" role="form" class="contactForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            Ваше имя </label>
                                        <input type="text" name="name" class="form-control" id="name"   data-rule="minlen:4" data-msg="Пожалуйста, введите не менее 4 символов" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">
                                            АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ</label>
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email"   data-rule="email" data-msg="Пожалуйста, введите действительный адрес электронной почты" />
                                            <div class="validation"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="subject">
                                            Тема сообщения </label>
                                        <input type="text" class="form-control" name="subject" id="subject"   data-rule="minlen:4" data-msg="Пожалуйста, введите не менее 8 символов субъекта" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            Сообщение</label>
                                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Пожалуйста, напишите что-нибудь для нас" placeholder="Пожалуйста, напишите Ваше cообщение"></textarea>
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                                        Отправить сообщение</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="widget-contact">
                        <h5>Главный офис</h5>

                        <address>
                            <strong>Squas Design, Inc.</strong><br>
                            Tower 795 Folsom Ave, Beautiful Suite 600<br>
                            San Francisco, CA 94107<br>



                            {#<abbr title="Phone">P:</abbr> (123) 456-7890#}
                        </address>

                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:globalbigbell@rambler.ru">globalbigbell@rambler.ru</a>
                        </address>
                        {#<address>#}
                            {#<strong>We're on social networks</strong><br>#}
                            {#<ul class="company-social">#}
                                {#<li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>#}
                                {#<li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>#}
                                {#<li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>#}
                                {#<li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>#}
                            {#</ul>#}
                        {#</address>#}

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /Section: contact -->


{% endblock %}


