{% extends 'index/base.html.twig' %}
{% block body %}




    <!-- Section: intro -->
    <section id="intro" class="intro">

        <div class="slogan">
            <h2 style="font-size: 40px;">Инвестиционный клуб <br /> globalbigbell  </h2>
            <h4>Сообщество единомышленников, целью которого является совместное инвестирование</h4>
        </div>
        <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
    <!-- /Section: intro -->

    <marquee style="background-color: #4e4a4a;"  >
        {% for key,value  in exchangeRates %}
            <span style=" padding-right: 22px; color: #fff2cc "> <b>{{ key }}</b>  {{  value }}</span>
        {% endfor %}
    </marquee>

    <!-- Section: about -->
    <section id="about" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h4>Покупайте акции с высоким потенциалом дохода.</h4>
                                <i class="fa fa-2x fa-angle-down"></i>
                                <br/>
                                <p>Получайте дополнительную прибыль и тратьте её на то, что приносит Вам радость</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 p-4">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h5>Консервативный</h5>
                                {#<p class="subtitle">Pixel Crafter</p>#}
                                <div class="avatar">
                                    <center>
                                        <img src="/main/img/_1.png"  style=" width: 172px;"  alt="" class="img-responsive img-circle" />
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-4">
                    <div class="wow bounceInUp" data-wow-delay="0.5s">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h5>Оптимальный</h5>
                                {#<p class="subtitle">Ruby on Rails</p>#}
                                <div class="avatar">
                                    <center>
                                        <img src="/main/img/_2.png"  style=" width: 172px;"  alt="" class="img-responsive img-circle" />
                                    </center>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-4">
                    <div class="wow bounceInUp" data-wow-delay="0.8s">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h5>IPO</h5>
                                {#<p class="subtitle">jQuery Ninja</p>#}
                                <div class="avatar">
                                    <center>
                                        <img src="/main/img/_3.png"  style=" width: 172px;"  alt="" class="img-responsive img-circle" />
                                    </center>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /Section: about -->


    <!-- Section: services -->
    <section id="service" class="home-section text-center bg-gray">

        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Услуги Клиентам</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {#<div class="row">#}
                {#<div class="col-lg-2 col-lg-offset-5">#}
                    {#<hr class="marginbot-50">#}
                {#</div>#}
            {#</div>#}
            <div class="row">
                {#<div class="col-md-3">#}
                    {#<div class="wow fadeInLeft" data-wow-delay="0.2s">#}
                        {#<div class="service-box">#}
                            {#<div class="service-icon">#}
                                {#<img src="img/icons/service-icon-1.png" alt="" />#}
                            {#</div>#}
                            {#<div class="service-desc">#}
                                {#<h5>Гарантия#}
                                    {#безопасности#}
                                    {#инвестиций</h5>#}
                                {#<p>Мы предлагаем несколько инвестиционных планов. Инвестируя в любой из них, вы можете#}
                                    {#быть уверены в сохранности своих средств и прибыли.</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-3">#}
                    {#<div class="wow fadeInUp" data-wow-delay="0.2s">#}
                        {#<div class="service-box">#}
                            {#<div class="service-icon">#}
                                {#<img src="img/icons/service-icon-2.png" alt="" />#}
                            {#</div>#}
                            {#<div class="service-desc">#}
                                {#<h5>Стабильные#}
                                    {#денежные выплаты#}
                                    {#инвесторам</h5>#}
                                {#<p>Все выплаты нашим инвесторам осуществляются компанией в течение 48 часов после формирования вашей заявки в личном кабинете.</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-3">#}
                    {#<div class="wow fadeInUp" data-wow-delay="0.2s">#}
                        {#<div class="service-box">#}
                            {#<div class="service-icon">#}
                                {#<img src="img/icons/service-icon-3.png" alt="" />#}
                            {#</div>#}
                            {#<div class="service-desc">#}
                                {#<h5>Партнерская#}
                                    {#программа</h5>#}

                                {#<p>Мы предлагаем партнерскую программу , которая позволит вам получать неограниченный доход.</p>#}

                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-3">#}
                    {#<div class="wow fadeInRight" data-wow-delay="0.2s">#}
                        {#<div class="service-box">#}
                            {#<div class="service-icon">#}
                                {#<img src="img/icons/service-icon-4.png" alt="" />#}
                            {#</div>#}
                            {#<div class="service-desc">#}
                                {#<h5>Мы Обеспечиваем Самые Лучшие Обслуживания</h5>#}
                                {#<p>Мы стараемся сделать лучшие условия обслуживания для Вас. Мы ценим каждого нашего клиента.#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}



                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col"> Название </th>
                        <th scope="col"> Доходность </th>
                        <th scope="col">   Подробней  </th>
                    </tr>
                    </thead>
                    <tbody style=" text-align: left;">
                    <tr>
                        <th scope="row">1</th>
                        <td>Индивидуальное доверительное управление</td>
                        <td style="color:#335433;" > до 10-25%/мес  </td>
                        <td>  <a href="/docs/1.zip">Открыть</a> </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Роботизированная торговля</td>
                        <td style="color:#335433;"> 10-20% в месяц </td>
                        <td>   <a href="#">Открыть</a>  </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Американские первичные акции (IPO)</td>
                        <td style="color:#335433;"> до 100% - годовых </td>
                        <td>  <a href="/docs/ipo_doc.docx">Открыть</a> </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Инвестиции в недвижимость Тайланда</td>
                        <td style="color:#335433;" >  15% годовых  </td>
                        <td>  <a href="/docs/PH-V_LH_R.pdf">Открыть</a>  + <a href="/docs/attachments.zip">Фото</a>  </td>
                    </tr>

                    <tr>
                        <th scope="row">5</th>
                        <td>Доходные автомобили Тайланда</td>
                        <td style="color:#335433;" > до 50% годовых </td>
                        <td>
                            {#<a href="#">Открыть</a>#}
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
        </div>
    </section>
    <!-- /Section: services -->




    <!-- Section: contact -->
    <section id="contact" class="home-section text-center">
        <div class="heading-contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h2>Контакты</h2>
                                <i class="fa fa-2x fa-angle-down"></i>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="boxed-grey">

                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form id="contact-form" action="" method="post" role="form" class="contactForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            Name</label>
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">
                                            Email Address</label>
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                            <div class="validation"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="subject">
                                            Subject</label>
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                            Message</label>
                                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                                        Отправить сообщение</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="widget-contact">
                        <h5>Главный офис</h5>

                        <address>
                            <strong>Squas Design, Inc.</strong><br>
                            Tower 795 Folsom Ave, Beautiful Suite 600<br>
                            San Francisco, CA 94107<br>



                            {#<abbr title="Phone">P:</abbr> (123) 456-7890#}
                        </address>

                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:globalbigbell@rambler.ru">globalbigbell@rambler.ru</a>
                        </address>
                        {#<address>#}
                            {#<strong>We're on social networks</strong><br>#}
                            {#<ul class="company-social">#}
                                {#<li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>#}
                                {#<li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>#}
                                {#<li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>#}
                                {#<li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>#}
                            {#</ul>#}
                        {#</address>#}

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /Section: contact -->


{% endblock %}


