{% extends 'admin/base.html.twig' %}

{% block body %}

    <!-- BEGIN CONTENT-->
    <section>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-tiles style-default-light">

                        <!-- BEGIN BLOG POST HEADER -->
                        <div class="row style-primary">
                            <div class="col-sm-9">
                                <div class="card-body style-default-dark">
                                    <h2>Разработка индивидуального робота</h2>
                                    <div class="text-default-light">
                                        {#Posted by <a href="#">Admin</a>#} <br />
                                    </div>
                                </div>
                            </div><!--end .col -->
                            <div class="col-sm-3">
                                <div class="card-body">
                                    <div class="hidden-xs">
                                        <center><h3 class="text-light"><strong><i class="md md-trending-up"></i></strong>  </h3></center>
                                        {#<a href="#">2 comments <i class="fa fa-comment-o"></i></a>#}
                                        <div class="stick-top-right">
                                            {#<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Contact me"><i class="fa fa-envelope"></i></a><br/>#}
                                            {#<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Follow me"><i class="fa fa-twitter"></i></a><br/>#}
                                            {#<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Personal info"><i class="fa fa-facebook"></i></a>#}
                                        </div>
                                    </div>
                                    <div class="visible-xs">
                                        <center>
                                            {#<a href="#">Тайланд </a>#}
                                        </center>
                                    </div>
                                </div>
                            </div><!--end .col -->
                        </div><!--end .row -->
                        <!-- END BLOG POST HEADER -->

                        <div class="row">

                            <!-- BEGIN BLOG POST TEXT -->
                            <div class="col-md-9">
                                <article class="style-default-bright">
                                    <div>
                                        <img class="img-responsive" src="/main/photo/robot.png" alt="" />
                                    </div>
                                    <div class="card-body">


                                        <p><b>ПОЛУЧИТЕ РОБОТА ПОД «СВОИ ЦЕЛИ»!</b><p>




                                        <p>В нашей компании Вы можете арендовать робота, который соответствовал бы вашим инвестиционным целям и пожеланиям.</p>
                                        <p>Сотрудничая с программистами и разработчиками, которые имеют за плечами многолетний опыт создания торговых систем, технологий                                                 для автоматического трейдинга и, собственно, опыт реальной торговли,                   мы (команда профессиональных управляющих и «системщиков») разработали ряд эффективных торговых стратегий.</p>
                                        <p>Некоторые из систем применяются в реальной торговле более четырех лет                  и с успехом прошли разные рыночные циклы (осень 2008-го и 2011-го годов).</p>
                                        <p>Стратегии имеют разную логику принятия решений и обеспечивают эффективную диверсификацию при совместной торговле.</p>
                                        <p><b>ГОТОВЫЕ РЕШЕНИЯ НИЖЕ:</b><p>




                                        <table class="table table-bordered table-dark">
                                            <thead>
                                            <tr>
                                                <th scope="col">Торговая система</th>
                                                <th scope="col">Описание</th>
                                                <th scope="col">Цена</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row"><a target="_blank" href="http://yurikon.net/mts/mt3"> MT 3 </a> </th>
                                                <td>Краткосрочная система, основанная на волатильности фьючерса и индекса РТС, а также временной структуре торговой сессии.</td>
                                                <td>7000 руб./месяц</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><a target="_blank" href="http://yurikon.net/mts/dj"> DJsTrend-F </a> </th>
                                                <td>
                                                    Универсальная трендовая система, основанная на теории Доу о рыночных трендах. Содержит единственный параметр, определяющий агрессивность торговли.
                                                </td>
                                                <td>9500 руб./месяц</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><a target="_blank" href="http://yurikon.net/mts/dynfibo"> DFibo </a> </th>
                                                <td>

                                                    Используется адаптивный ценовой канал в сочетании с уровнями Фибоначчи.
                                                </td>
                                                <td>7000 руб./месяц</td>
                                            </tr>

                                            <tr>
                                                <th scope="row"><a target="_blank" href="http://yurikon.net/mts/df-rev"> DFibo Rev </a> </th>
                                                <td>

                                                    Контртрендовая система, которая эффективно работает на боковом рынке с ложными пробоями.
                                                </td>
                                                <td>7000 руб./месяц</td>
                                            </tr>

                                            <tr>
                                                <th scope="row"><a target="_blank" href="http://yurikon.net/mts/ar"> Action-Reaction </a> </th>
                                                <td>

                                                    Паттерновая система, основанная на рыночных ритмах и гэпах. Отлично зарекомендовала себя во время бокового рынка.
                                                </td>
                                                <td>7000 руб./месяц</td>
                                            </tr>

                                            <tr>
                                                <th scope="row"><a target="_blank" href="#">  Elder-H  </a> </th>
                                                <td>
                                                    Паттерновая система, основанная на классических индикаторах технического анализа и массовой психологии трейдеров новичков.


                                                </td>
                                                <td>7000 руб./месяц</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><a target="_blank" href="http://yurikon.net/mts/ct">  Classic Trend </a> </th>
                                                <td>
                                                    Классическая система, основанная на линейных трендах, с нетривиальным алгоритмом расчета. В системы предусмотрены уровни взятия прибыли, которые значительно снижают волатильность счета.

                                                </td>
                                                <td>7000 руб./месяц</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><a target="_blank" href="http://yurikon.net/mts/wb"> Wait A Bit  </a> </th>
                                                <td>
                                                    Среднесрочная трендовая система, скорректированная под фундаментальные факторы валютного рынка. Главный торгуемый инструмент - фьючерс на рубль/доллар.

                                                </td>
                                                <td>7000 руб./месяц</td>
                                            </tr>




                                            </tbody>
                                        </table>






                                        <p><b>Почему аренда?</b></p>
                                        <p>Торговые системы - весьма специфические продукты интеллектуального творчества. Они эксплуатируют одну или несколько «неэффективностей» рынка, позволяющих зарабатывать деньги.  </p>
                                        <p>Но насколько умна бы не была система, она может перестать зарабатывать при изменении природы рыночных движений. Мы внимательно следим за результативностью работы систем, и при первых признаках падения результатов (просадки) система ставится на пересмотр либо останавливается.</p>
                                        <p>В случае аренды системы клиент может просто перейти на другие или новые системы, не тратя лишних денег.</p>



                                        <div class="alert alert-callout alert-success" role="alert">

                                        <p> ЗАПОЛНИТЕ ФОРМУ ОБРАТНОЙ СВЯЗИ

                                            <div class="alert alert-info" role="alert">
                                                <p>Укажите в ней ПАРАМЕТРЫ робота, которого вы бы хотели получить?</p>
                                                <p>Напишите ответы на вопросы:</p>
                                                <p>1. Какая доходность робота?</p>
                                                <p>2. Какой максимальный риск (просадка) робота?</p>
                                                <p>3. Инструмент (актив-фьючерс, валюта, акции, криптовалюта, без разницы)?</p>
                                                <p>4. Сумма инвестирования в рублях?</p>
                                                <p>5. Автомат или полуавтомат (сами решаете или нужен управляющий)?</p>
                                                <p>6. Что хотите получить на выходе- (кратко описать своими словами)?</p>
                                            </div>

                                        <a href="/#contact" class="btn btn-success btn-primary btn-labeled" style="background-color: #4caf50;">
                                            ФОРМА ОБРАТНОЙ СВЯЗИ
                                        </a>


                                        </div>






                                        {#<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
                                        {#<p>Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod turpis, id tincidunt sapien risus a quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque. Aliquam faucibus, elit ut dictum aliquet, felis nisl adipiscing sapien, sed malesuada diam lacus eget erat. Cras mollis scelerisque nunc. Nullam arcu. Aliquam consequat. Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, nisi. Aenean magna nisl, mollis quis, molestie eu, feugiat in, orci. In hac habitasse platea dictumst.</p>#}
                                        {#<p>Fusce convallis, mauris imperdiet gravida bibendum, nisl turpis suscipit mauris, sed placerat ipsum urna sed risus. In convallis tellus a mauris. Curabitur non elit ut libero tristique sodales. Mauris a lacus. Donec mattis semper leo. In hac habitasse platea dictumst. Vivamus facilisis diam at odio. Mauris dictum, nisi eget consequat elementum, lacus ligula molestie metus, non feugiat orci magna ac sem. Donec turpis. Donec vitae metus. Morbi tristique neque eu mauris. Quisque gravida ipsum non sapien. Proin turpis lacus, scelerisque vitae, elementum at, lobortis ac, quam. Aliquam dictum eleifend risus. In hac habitasse platea dictumst. Etiam sit amet diam. Suspendisse odio. Suspendisse nunc. In semper bibendum libero.</p>#}
                                        {#<p>Proin nonummy, lacus eget pulvinar lacinia, pede felis dignissim leo, vitae tristique magna lacus sit amet eros. Nullam ornare. Praesent odio ligula, dapibus sed, tincidunt eget, dictum ac, nibh. Nam quis lacus. Nunc eleifend molestie velit. Morbi lobortis quam eu velit. Donec euismod vestibulum massa. Donec non lectus. Aliquam commodo lacus sit amet nulla. Cras dignissim elit et augue. Nullam non diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Aenean vestibulum. Sed lobortis elit quis lectus. Nunc sed lacus at augue bibendum dapibus.</p>#}
                                        {#<p>Aliquam vehicula sem ut pede. Cras purus lectus, egestas eu, vehicula at, imperdiet sed, nibh. Morbi consectetuer luctus felis. Donec vitae nisi. Aliquam tincidunt feugiat elit. Duis sed elit ut turpis ullamcorper feugiat. Praesent pretium, mauris sed fermentum hendrerit, nulla lorem iaculis magna, pulvinar scelerisque urna tellus a justo. Suspendisse pulvinar massa in metus. Duis quis quam. Proin justo. Curabitur ac sapien. Nam erat. Praesent ut quam.</p>#}
                                        {#<br/>#}
                                        {#<div class="well clearfix">#}
                                        {#<h4>About the author: Daniel Johnson</h4>#}
                                        {#<img class="height-3 pull-right img-circle" src="/materialadmin/assets/img/avatar1.jpg?1403934956" alt="" />#}
                                        {#<p>Aliquam vehicula sem ut pede. Cras purus lectus, egestas eu, vehicula at, imperdiet sed, nibh. Morbi consectetuer luctus felis. Donec vitae nisi. Aliquam tincidunt feugiat elit. Duis sed elit ut turpis ullamcorper feugiat. Praesent pretium, mauris sed fermentum hendrerit.</p>#}
                                        {#</div>#}




                                    </div><!--end .card-body -->
                                </article>
                            </div><!--end .col -->
                            <!-- END BLOG POST TEXT -->

                            <!-- BEGIN BLOG POST MENUBAR -->
                            <div class="col-md-3">
                                <div class="card-body">



                                    <h3 class="text-light"> </h3>
                                    <ul class="nav nav-pills nav-stacked nav-transparent">
                                        <li>
                                            Внимание!  Представленные на этой и других страницах сайта данные о доходности являются гипотетическими, то есть, получены на исторических данных. Доходность торговой системы в прошлом, не гарантирует положительный доход в будущем. Торговые системы (роботы) являются аналитическим инструментом для прогнозирования рынка ценных бумаг. Окончательное решение о покупке/продаже финансовых инструментов должно приниматься инвестором самостоятельно. Инвесторы должны самостоятельно оценивать риски потерь от деятельности на рынке ценных бумаг. Администрация сайта не несет ответственности за возможные убытки инвестором, связанные с использованием или неправильным использованием торговых систем.

                                        </li>
                                        {#<li><a href="/docs/attachments.zip"><span class="badge pull-right"> zip </span>Фото</a></li>#}
                                        {#<li><a href="#"><span class="badge pull-right">12</span>Video</a></li>#}
                                        {#<li><a href="#"><span class="badge pull-right">5</span>Music</a></li>#}
                                        {#<li><a href="#"><span class="badge pull-right">28</span>Uncategorized</a></li>#}
                                    </ul>



                                    {#<h3 class="text-light">Tags</h3>#}
                                    {#<div class="list-tags">#}
                                    {#<a class="btn btn-xs btn-primary">Wordpress</a>#}
                                    {#<a class="btn btn-xs btn-primary">Technology</a>#}
                                    {#<a class="btn btn-xs btn-primary">HTML5</a>#}
                                    {#<a class="btn btn-xs btn-primary">Illustrator</a>#}
                                    {#<a class="btn btn-xs btn-primary">Music</a>#}
                                    {#<a class="btn btn-xs btn-primary">CSS3</a>#}
                                    {#<a class="btn btn-xs btn-primary">Video</a>#}
                                    {#<a class="btn btn-xs btn-primary">Photoshop</a>#}
                                    {#<a class="btn btn-xs btn-primary">jQuery</a>#}
                                    {#</div>#}
                                </div><!--end .card-body -->
                            </div><!--end .col -->
                            <!-- END BLOG POST MENUBAR -->

                        </div><!--end .row -->
                    </div><!--end .card -->
                </div><!--end .col -->

            </div></div></section>





{% endblock %}
