{% extends 'index/base.html.twig' %}
{% block body %}




    <!-- Section: intro -->
    <section id="intro" class="intro">

        <div class="slogan">
            <h2> Обучение  </h2>
            <h4> Профессиональное обучение торговле на Forex с учетом Ваших потребностей  </h4>
        </div>
        <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
    <!-- /Section: intro -->

    <!-- Section: about -->
    <section id="about" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                            <div class="section-heading">
                                <h4> Вводный урок. </h4>
                                {#<i class="fa fa-2x fa-angle-down"></i>#}
                                <br/>
                                {#<p>Получайте дополнительную прибыль и тратьте её на то, что приносит Вам радость</p>#}




                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <br/>

        <iframe width="100%" height="315" src="https://www.youtube.com/embed/erwY5RN_ZvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



        <div class="container">

            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">



                    <hr class="marginbot-50">


                    <center>
                        <button type="button" class="btn btn-primary btn-block">Купить</button>
                    </center>
                    <br />

                    <hr class="marginbot-50">


                </div>
            </div>

            <div class="row">


                <center>
                    Пакеты обучения
                </center>

                <div class="bs-example" data-example-id="thumbnails-with-custom-content">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <iframe  src="https://www.youtube.com/embed/erwY5RN_ZvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                {#<img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjE4IiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDYxOCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTY4OTAxZmIwOTggdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZTozMXB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNjg5MDFmYjA5OCI+PHJlY3Qgd2lkdGg9IjYxOCIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIyMjguNTU0Njg3NSIgeT0iMTEzLjgwMDAwMDAwMDAwMDAxIj42MTh4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">#}
                                <div class="caption">
                                    <h3> Standard </h3>
                                    <p>Базовый курс обучения</p>
                                    <p> <br /> </p>
                                    <p> <br /> </p>
                                    <a href="#" class="btn btn-primary" role="button">Купить</a>
                                    {#<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <iframe   src="https://www.youtube.com/embed/erwY5RN_ZvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                {#<img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjE4IiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDYxOCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTY4OTAxZjY1MzMgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZTozMXB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNjg5MDFmNjUzMyI+PHJlY3Qgd2lkdGg9IjYxOCIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIyMjguNTU0Njg3NSIgeT0iMTEzLjgwMDAwMDAwMDAwMDAxIj42MTh4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">#}
                                <div class="caption">
                                    <h3> Pro  </h3>
                                    <p>Базовый курс обучения</p>
                                    <p>Базовая стратегия торговли</p>
                                    <p> <br /> </p>
                                    <a href="#" class="btn btn-primary" role="button">Купить</a>
                                    {#<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <iframe   src="https://www.youtube.com/embed/erwY5RN_ZvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                {#<img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjE4IiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDYxOCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTY4OTAxZmE5NWEgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZTozMXB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNjg5MDFmYTk1YSI+PHJlY3Qgd2lkdGg9IjYxOCIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIyMjguNTU0Njg3NSIgeT0iMTEzLjgwMDAwMDAwMDAwMDAxIj42MTh4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">#}
                                <div class="caption">
                                    <h3>Gold</h3>

                                    <p>Базовый курс обучения</p>
                                    <p>Базовая стратегия торговли</p>
                                    <p>Консультации с аналитиком</p>
                                    <a href="#" class="btn btn-primary" role="button">Купить</a>
                                    {#<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>




    </section>
    <!-- /Section: about -->







{% endblock %}








