{% extends 'admin/base.html.twig' %}

{% block body %}











<div class="row card" style="
    top: 11px;
    margin-left: 11px;
    margin-right: 11px;
">
    <div class="_col-md-6">
        <div class="card tabs-left style-default-light">
            <ul class="card-head nav nav-tabs" data-toggle="tabs">
                <li class=""> <a href="#first5"> <i class="fa fa-money"></i>  24paybank  </a></li>
                <li class="active"><a href="#second5">  <i class="fa fa-money"></i> payeer </a></li>
                <li><a href="#second6">  <i class="fa fa-money"></i> MKB </a></li>
                {#<li class=""><a href="#third5">THE THIRD</a></li>#}
            </ul>
            <div class="card-body tab-content style-default-bright">








                <div class="tab-pane" id="second6">
                    <div class="row card">
                        <div class="_col-md-4">
                            <div class="card-head">

                                <header> Пополнить  Банковской картой <img style=" width: 100px;" src="/main/img/mkblogo.svg" alt="MKB" title="MKB"/> </header>


                            </div>
                            <div class="card-body height-8">
                                <center>


<script>
    function _hasPopupBlocker(poppedWindow) {
        var result = false;

        try {
            if (typeof poppedWindow == 'undefined') {
                // Safari with popup blocker... leaves the popup window handle undefined
                result = true;
            }
            else if (poppedWindow && poppedWindow.closed) {
                // This happens if the user opens and closes the client window...
                // Confusing because the handle is still available, but it in a "closed" state.
                // We're not saying that the window is not being blocked, we're just saying
                // that the window has been closed before the test could be run.
                result = false;
            }
            else if (poppedWindow && poppedWindow.test) {
                // This is the actual test. The client window should be fine.
                result = false;
            }
            else {
                // Else we'll assume the window is not OK
                result = true;
            }

        } catch (err) {
            return true;
            //if (console) {
            //console.warn("Could not access popup window", err);
            //}
        }

        return result;
    }





</script>





                                    {% if user.bankcard == 0 %}


                                            <p>Внимание! Для совершения обмена в данном направлении требуется верификация карты. Выполнение этого правила необходимо, чтобы мошенники не совершали переводы без согласия владельца карты. Процесс верификации займет несколько минут и требуется лишь единожды на каждую новую карту.</p>
                                            <p><b> Требование к фотографии: </b></p>
                                            <p><b> На фотографии карты должно быть видно первые и последние 4 цифры карты, а также ФИО владельца, если карта именная. Остальные данные можно закрыть </b></p>
                                            <p><b> На заднем фоне (за картой) должен быть виден монитор с открытой вкладкой сайта http://globalbigbell.com  </b></p>
                                            <p><b> Bыслать все документы на адрес globalbigbell@rambler.ru с email с которого вы зарегестрировались в системе  </b></p>
                                            <p><b> Также необходимо выполнить  верификацию аккаунта  <a href="https://globalbigbell.com/admin/verify" style="color: #0a6ebd">Верификация аккаунта</a>   </b> </p>





                                             {% else %}

                                           <p> Номер карты , на который необходимо перевести Ваши средства:  <b>  1234 5678 1234 5678 </b> </p>

                                           <p>  Ваша карта с которой Вы отправляете деньги:   <b>  {{ user.bankcard  }} </b> </p>


                                                 {#<a href="https://pay.mkb.ru/" class="btn btn-success btn-primary btn-labeled" style="background-color: #2196f3;">  Пополнить ТУТ </a>#}


                                                 <a href="#"  onclick='myWindow = window.open("https://pay.mkb.ru/","", "width=800, height=800"); if(_hasPopupBlocker(myWindow) ) { location.href="https://pay.mkb.ru/"; } ' class="btn btn-success btn-primary btn-labeled" style="background-color: #2196f3;">  Пополнить ТУТ </a>





                                    {% endif %}








                                </center>
                            </div><!--end .card-body -->
                        </div><!--end .col -->
                    </div>
                </div>



                <div class="tab-pane" id="first5">


                    <div class="row card">
                        <div class="_col-md-4">
                            <div class="card-head">

                                <header> Пополнить <img style=" width: 100px;" src="https://24paybank.org/res/24paybank/i/logo.png" alt="Обменник" title="Обменять"/> </header>


                            </div>
                            <div class="card-body height-8">
                                <center>

                                    <span class="badge style-danger pull-right" style="background-color: #f44336;"> в разработке </span>


                                    <form method="post" action="#{{ path('app_admin_add_confirm') }}">
                                        <div class="form-row">
                                            <div class="form-group _col-md-6">
                                                <label for="inputEmail4">Сума пополнения</label>
                                                <input disabled type="number" min="100.00" max="1000000.00" step="0.01" class="form-control"  name="money"  placeholder="$">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary"> Дальше </button>
                                    </form>
                                </center>
                            </div><!--end .card-body -->
                        </div><!--end .col -->
                    </div>




                    {#<strong>#}
                        {#<span>Кошелёк для получения , будет предоставлен по запросу в чате </span>#}
                        {#<button onclick="alert('заявка отправлена в работу занимает около 24 часов');"> Получить номер кушелька </button>#}


                    {#</strong>#}


                    {#<br />#}


                    {#<strong>#}
                        {#<span> В разработке  </span> <br />#}
                        {#скоро Вы сможете делать оплаты банковской картой#}
                    {#</strong>#}


                    {#<br />#}


                    {#<a href="https://24paybank.org/?rid=15619056314142">#}
                        {#<img src="https://24paybank.org/res/24paybank/banners/24paybank/240x100.jpg" alt="Обменник" title="Обменять"/>#}
                    {#</a>#}


                </div>
                <div class="tab-pane active" id="second5">

                    <div class="row card">
                        <div class="_col-md-4">
                            <div class="card-head">
                                <header>Пополнить <img src="/main/img/payeer.png" style=" width: 100px;"> </header>
                            </div>
                            <div class="card-body height-8">
                                <center>
                                    <form method="post" action="{{ path('app_admin_add_confirm') }}">
                                        <div class="form-row">
                                            <div class="form-group _col-md-6">
                                                <label for="inputEmail4">Сума пополнения</label>
                                                <input type="number" min="100.00" max="1000000.00" step="0.01" class="form-control"  name="money"  placeholder="$">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary"> Дальше </button>
                                    </form>
                                </center>
                            </div><!--end .card-body -->
                        </div><!--end .col -->
                    </div>

                </div>

            </div><!--end .card-body -->
        </div><!--end .card -->
        {#<em class="text-caption">000000000</em>#}
    </div>
</div>










{% endblock %}
