{% extends 'admin/base.html.twig' %}

{% block body %}

 <div class="row">

  <div class="col-lg-12">
   <div class="card">
    <div class="card-body no-padding">
     <div class="table-responsive no-margin">
      <table class="table table-striped no-margin">
       <thead>
       <tr>
        <th>#</th>
        <th>Договор</th>
       </tr>
       </thead>
       <tbody>
       <tr>
        <td><i class="md md-insert-drive-file"></i></td>
        <td><a href="/docs/doc/CUSTOMER_TRADER.docx">  ДОВЕРЕННОСТЬ Трейдер </a></td>
       </tr>


       <tr>
        <td><i class="md md-insert-drive-file"></i></td>
        <td><a href="/docs/doc/Agreement-offer_commission_(1_investment_option).docx"> Договор-оферта комиссии (1 вариант инвестирования)</a></td>
       </tr>


       <tr>
        <td><i class="md md-insert-drive-file"></i></td>
        <td><a href="/docs/doc/Agreement-offer_on_of_proper_work_web_in_in_(2_invest_investment).docx"> Договор-оферта на оказание услуг-вебинары_(2 вариант инвестирования)</a></td>
       </tr>




       </tbody>
      </table>
     </div><!--end .table-responsive -->
    </div><!--end .card-body -->
   </div><!--end .card -->
  </div><!--end .col -->
 </div>





{% endblock %}
