{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="row" >





        <div class="section-body">
            <div class="container" >

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-striped no-margin">
                                    <thead>
                                    <tr>
                                        <th> # </th>
                                        <th>
                                            <center>
                                                Дата
                                            </center>
                                        </th>
                                        <th>
                                            <center>
                                                Скачасть
                                            </center>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                        {#<tr>#}
                                            {#<td><i class="md md-insert-drive-file"></i></td>#}
                                            {#<td>#}
                                                {#<center>#}
                                                    {#<a href="#/">  16 jule 2019 </a>#}
                                                {#</center>#}
                                            {#</td>#}
                                            {#<td>#}
                                                {#<center>#}
                                                    {#<a href="#/">  <span class="glyphicon glyphicon-download-alt"></span> </a>#}
                                                {#</center>#}
                                            {#</td>#}
                                        {#</tr>#}



                                        <tr>
                                            <td><i class="md md-insert-drive-file"></i></td>
                                            <td>
                                                <center>
                                                    <a href="#/">  -  </a>
                                                </center>
                                            </td>
                                            <td>
                                                <center>
                                                    <a href="#/">  <span class="glyphicon glyphicon-download-alt"></span> </a>
                                                </center>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div><!--end .table-responsive -->
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div><!--end .col -->


            </div>
        </div>


                {#<!-- +++++++++++++++++++ -->#}


        {#<div class="section-body">#}
            {#<div class="container" >#}
                {#<h2 class="text-light text-center">Статистика</h2>#}
                {#<br/>#}



        {#<!-- BEGIN FIXED TIMELINE -->#}
                {#<style>#}
                    {#.timeline.collapse-lg:before {#}

                        {#background-color: #0aa89e;#}
                    {#}#}
                    {#.timeline:before {#}
                        {#background-color: #0aa89e;#}
                        {#opacity: 1;#}
                    {#}#}
                {#</style>#}
        {#<ul class="timeline collapse-lg timeline-hairline" style=""  >#}




            {#<li>#}
                {#<div class="timeline-circ circ-xl style-default-dark"><i class="fa fa-quote-left"></i></div>#}
                {#<div class="timeline-entry">#}
                    {#<div class="card style-default-dark">#}
                        {#<div class="card-body small-padding">#}
                            {#<img class="img-circle img-responsive pull-left width-1" src="/materialadmin/assets/img/avatar7.jpg?1404026721" alt="" />#}
                            {#<span class="text-medium">Meeting in the <span class="text-primary">conference room</span></span><br/>#}
                            {#<span class="opacity-50"> Saturday, Juli 29, 2014 </span>#}
                        {#</div><!--end .card-body -->#}
                        {#<div class="card-body">#}
                            {#<p><em>Walked all the way home...</em></p>#}
                            {#<img class="img-responsive" src="/materialadmin/assets/img/img14.jpg?1404589160" alt="" />#}
                        {#</div><!--end .card-body -->#}
                    {#</div><!--end .card -->#}
                {#</div><!--end .timeline-entry -->#}
            {#</li>#}








        {#</ul>#}
        {#<!-- END FIXED TIMELINE -->#}



            {#</div>#}
        {#</div>#}
        {#<!-- +++++++++++++++++++ -->#}



    </div>





{% endblock %}
