 {% extends 'admin/base.html.twig' %}

{% block body %}

<!-- BEGIN CONTENT-->
            <section>
                <div class="section-body contain-lg">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-tiles style-default-light">

                                <!-- BEGIN BLOG POST HEADER -->
                                <div class="row style-primary">
                                    <div class="col-sm-9_">
                                        <div class="card-body style-default-dark">
                                            <h2> ZEUS </h2>
                                            <div class="text-default-light">
                                                {#Posted by <a href="#">Admin</a>#} <br />
                                            </div>
                                        </div>
                                    </div><!--end .col -->
                    
                                </div><!--end .row -->
                                <!-- END BLOG POST HEADER -->

                                <div class="row">

                                    <!-- BEGIN BLOG POST TEXT -->
                                    <div class="col-md-9_">
                                        <article class="style-default-bright">
                                             
                                            <div class="card-body">






 
 
<p> При риске потери капитала в 50% , возможная доходность до  800%. </p>
<p> Для достижения такой доходности уровень биткоина должен подняться в 2,5 раза с  момента входа клиентом в данную стратегию.  </p>
<p>  Доходность растет по экспоненте: чем медленнее рост актива - тем выше будет доходность. Например: стоимость актива сегодня 10 000 уе. </p>
<p> Если точка роста в 25 000 будет достигнута через 6 месяцев, доходность будет выше, чем если биткоин преодолеет эту стоимость за месяц.  </p>
<p>Если после 25 000 продолжать операции, доходность увеличивается далее. </p>
<p> Если Клиент изымат средства на определенном периоде, при его повторном желании войти в стратегию, необходимо также будет дожидаться роста актива в 2,5 раза. </p>

 





                                                <table class="table table-bordered table-dark">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Основные характеристики портфеля </th>
                                                        <th scope="col">Показатели</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Объем минимальной инвестиции</td>
                                                        <td>1 000 ye</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>Комиссия за управление/год</td>
                                                        <td>4%</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>Рекомендуемый инвестиционный период</td>
                                                        <td> 1 год  / На усмотрение Клиента </td>

                                                    </tr>

                                                          <tr>
                                                        <th scope="row">3</th>
                                                        <td>УРОВЕНЬ РИСКА</td>
                                                        <td> ВЫСОКИЙ </td>

                                                    </tr>
 
 

                                                    </tbody>
                                                </table>




 


                                            </div><!--end .card-body -->
                                        </article>
                                    </div><!--end .col -->
                                    <!-- END BLOG POST TEXT -->

                                     

                                </div><!--end .row -->
                            </div><!--end .card -->
                        </div><!--end .col -->

</div></div></section>





{% endblock %}
