 {% extends 'admin/base.html.twig' %}

{% block body %}

<!-- BEGIN CONTENT-->
            <section>
                <div class="section-body contain-lg">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-tiles style-default-light">

                                <!-- BEGIN BLOG POST HEADER -->
                                <div class="row style-primary">
                                    <div class="col-sm-9_">
                                        <div class="card-body style-default-dark">
                                            <h2>  Стратегия     сбалансированная    Или Диверсифицированный портфель  </h2>
                                            <div class="text-default-light">
                                                {#Posted by <a href="#">Admin</a>#} <br />
                                            </div>
                                        </div>
                                    </div><!--end .col -->
                    
                                </div><!--end .row -->
                                <!-- END BLOG POST HEADER -->

                                <div class="row">

                                    <!-- BEGIN BLOG POST TEXT -->
                                    <div class="col-md-9_">
                                        <article class="style-default-bright">
                                             
                                            <div class="card-body">
 

 

 
<p> 1 – фьючерсы рубль/доллар </p>
<p> 2 – акции </p>
<p> 3 - фьючерсы ликвидных активов </p>
<p> 4 - торговля фьючерсами ГКО </p>
<p> 5 – криптоактивы BTC, USDT. </p>
<p> 6 – Индексный рынок Америки и Европы </p>
<p> 7 - рынок Forex </p>
<p> Ожидаемая доходность до 70% годовых </p>
<p> Риск профиль умеренный </p>
<p> Рекомендуемый инвестиционный период 1 год </p>
<p> Инвестиционный управляющий распределяет средства исходя от конъектуры рынка выбирая наиболее эффективную стратегию с умеренным уровнем риска. </p>
<p> Направления инвестиции по данной стратегии: </p>
<p> торговля фьючерсами рубль/доллар,  торговля фьючерсами ГКО,  </p>
<p> торговля акциями на спотовом рынке,  рынок Forex </p>
<p> торговля на западном рынке фьючерсами ликвидных активов: индексах Америки и Европы, энергетика (нефть, газ, мазут, бензин), </p> 
<p> долговой рынок (Америка, Германия, Италия), товарный рынок (соя, соевое масло, соевая мука, кукуруза, пшеница, древесина,  </p>
<p> говядина, свинина, кофе, какао), металлы (золото, серебро, платина, палладий, медь) </p>
<p> торговля на рынке криптоактивов BTC, USDT. </p>




 


 


                                            </div><!--end .card-body -->
                                        </article>
                                    </div><!--end .col -->
                                    <!-- END BLOG POST TEXT -->

                                     

                                </div><!--end .row -->
                            </div><!--end .card -->
                        </div><!--end .col -->

</div></div></section>





{% endblock %}


