 {% extends 'admin/base.html.twig' %}

{% block body %}

<!-- BEGIN CONTENT-->
            <section>
                <div class="section-body contain-lg">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-tiles style-default-light">

                                <!-- BEGIN BLOG POST HEADER -->
                                <div class="row style-primary">
                                    <div class="col-sm-9_">
                                        <div class="card-body style-default-dark">
                                            <h2> КРЕДИТ </h2>
                                            <div class="text-default-light">
                                                {#Posted by <a href="#">Admin</a>#} <br />
                                            </div>
                                        </div>
                                    </div><!--end .col -->
                    
                                </div><!--end .row -->
                                <!-- END BLOG POST HEADER -->

                                <div class="row">

                                    <!-- BEGIN BLOG POST TEXT -->
                                    <div class="col-md-9_">
                                        <article class="style-default-bright">
                                             
                                            <div class="card-body">




<p>КРЕДИТОВАНИЕ ПОД ЗАЛОГ НЕДВИЖИМОСТИ</p>
 
<br />

<p>Кредит под залог недвижимости – это обеспеченный кредит, который выдается только после предоставления документации, подтверждающей факт того, что именно заемщик – хозяин недвижимого имущества. Компания самостоятельно определяет цену недвижимости.  </p>
<p>При невозвращении заемных средств, происходит реализация залогового имущества, и направление вырученных средств на погашение долга.</p>
 
<br />

<p>Детали и условия:</p>
<p>Объем минимальной инвестиции 500 000 руб</p>
<p>Комиссия за управление/год Нет</p>
<p>Рекомендуемый инвестиционный период</p>
<p>Рекомендуемый инвестиционный период - 1 год. Выход из стратегии осуществляется по истечении 3 месяцев с момента сообщения о данном желании. </p>
<p>Фиксация прибыли и расчет 1 раз в месяц</p>

<br />

<p>ПОКАЗАТЕЛИ: Ежемесячная доходность: 2% </p>
<p>При не выплате кредитных средств, возможна отсрочка, в начислении ежемесячной доходности. </p> 
<p>Риск-профиль: низки</p>
<p>Комиссия за успех/месяц  0.5% </p>

 <br />




 

 


                                            </div><!--end .card-body -->
                                        </article>
                                    </div><!--end .col -->
                                    <!-- END BLOG POST TEXT -->

                                     

                                </div><!--end .row -->
                            </div><!--end .card -->
                        </div><!--end .col -->

</div></div></section>





{% endblock %}
