{% extends 'admin/base.html.twig' %}

{% block body %}

        <!-- BEGIN CONTENT-->
            <section>
                <div class="section-body contain-lg">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-tiles style-default-light">

                                <!-- BEGIN BLOG POST HEADER -->
                                <div class="row style-primary">
                                    <div class="col-sm-9">
                                        <div class="card-body style-default-dark">
                                            <h2>Доходные автомобили Испании</h2>
                                            <div class="text-default-light">
                                                {#Posted by <a href="#">Admin</a>#} <br />
                                            </div>
                                        </div>
                                    </div><!--end .col -->
                                    <div class="col-sm-3">
                                        <div class="card-body">
                                            <div class="hidden-xs">
                                                <center><h3 class="text-light"><strong><i class="md md-trending-up"></i></strong>  </h3></center>
                                                {#<a href="#">2 comments <i class="fa fa-comment-o"></i></a>#}
                                                <div class="stick-top-right">
                                                    {#<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Contact me"><i class="fa fa-envelope"></i></a><br/>#}
                                                    {#<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Follow me"><i class="fa fa-twitter"></i></a><br/>#}
                                                    {#<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Personal info"><i class="fa fa-facebook"></i></a>#}
                                                </div>
                                            </div>
                                            <div class="visible-xs">
                                                <center>
                                                    {#<a href="#">Тайланд </a>#}
                                                </center>
                                            </div>
                                        </div>
                                    </div><!--end .col -->
                                </div><!--end .row -->
                                <!-- END BLOG POST HEADER -->

                                <div class="row">

                                    <!-- BEGIN BLOG POST TEXT -->
                                    <div class="col-md-9">
                                        <article class="style-default-bright">
                                            <div>
                                                <img class="img-responsive" src="/main/photo/cars.jpg" alt="" />
                                            </div>
                                            <div class="card-body">

                                                {#<button onclick="location.href='/docs/1.zip'" style="color: #f2f3f3;#}
                                    {#background-color: #4caf50;#}
                                    {#border-color: #4caf50;" type="button" class=" btn btn-block ink-reaction btn-default-bright" >#}
                                                    {#Договор#}
                                                {#</button>#}



                                                {#<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
                                                {#<p>Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod turpis, id tincidunt sapien risus a quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque. Aliquam faucibus, elit ut dictum aliquet, felis nisl adipiscing sapien, sed malesuada diam lacus eget erat. Cras mollis scelerisque nunc. Nullam arcu. Aliquam consequat. Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, nisi. Aenean magna nisl, mollis quis, molestie eu, feugiat in, orci. In hac habitasse platea dictumst.</p>#}
                                                {#<p>Fusce convallis, mauris imperdiet gravida bibendum, nisl turpis suscipit mauris, sed placerat ipsum urna sed risus. In convallis tellus a mauris. Curabitur non elit ut libero tristique sodales. Mauris a lacus. Donec mattis semper leo. In hac habitasse platea dictumst. Vivamus facilisis diam at odio. Mauris dictum, nisi eget consequat elementum, lacus ligula molestie metus, non feugiat orci magna ac sem. Donec turpis. Donec vitae metus. Morbi tristique neque eu mauris. Quisque gravida ipsum non sapien. Proin turpis lacus, scelerisque vitae, elementum at, lobortis ac, quam. Aliquam dictum eleifend risus. In hac habitasse platea dictumst. Etiam sit amet diam. Suspendisse odio. Suspendisse nunc. In semper bibendum libero.</p>#}
                                                {#<p>Proin nonummy, lacus eget pulvinar lacinia, pede felis dignissim leo, vitae tristique magna lacus sit amet eros. Nullam ornare. Praesent odio ligula, dapibus sed, tincidunt eget, dictum ac, nibh. Nam quis lacus. Nunc eleifend molestie velit. Morbi lobortis quam eu velit. Donec euismod vestibulum massa. Donec non lectus. Aliquam commodo lacus sit amet nulla. Cras dignissim elit et augue. Nullam non diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Aenean vestibulum. Sed lobortis elit quis lectus. Nunc sed lacus at augue bibendum dapibus.</p>#}
                                                {#<p>Aliquam vehicula sem ut pede. Cras purus lectus, egestas eu, vehicula at, imperdiet sed, nibh. Morbi consectetuer luctus felis. Donec vitae nisi. Aliquam tincidunt feugiat elit. Duis sed elit ut turpis ullamcorper feugiat. Praesent pretium, mauris sed fermentum hendrerit, nulla lorem iaculis magna, pulvinar scelerisque urna tellus a justo. Suspendisse pulvinar massa in metus. Duis quis quam. Proin justo. Curabitur ac sapien. Nam erat. Praesent ut quam.</p>#}
                                                {#<br/>#}
                                                {#<div class="well clearfix">#}
                                                    {#<h4>About the author: Daniel Johnson</h4>#}
                                                    {#<img class="height-3 pull-right img-circle" src="/materialadmin/assets/img/avatar1.jpg?1403934956" alt="" />#}
                                                    {#<p>Aliquam vehicula sem ut pede. Cras purus lectus, egestas eu, vehicula at, imperdiet sed, nibh. Morbi consectetuer luctus felis. Donec vitae nisi. Aliquam tincidunt feugiat elit. Duis sed elit ut turpis ullamcorper feugiat. Praesent pretium, mauris sed fermentum hendrerit.</p>#}
                                                {#</div>#}

                                                <div class="well clearfix">
                                                    {#<h4>About the author: Daniel Johnson</h4>#}
                                                    {#<img class="height-3 pull-right img-circle" src="/main/img/logo.png" alt="" />#}
                                                    {#<p> Подробная информация по запросу#}


                                                    <a href="/#contact" style="color: #0a6ebd"> Подробней по запросу </a> </p>
                                                </div>






                                            </div><!--end .card-body -->
                                        </article>
                                    </div><!--end .col -->
                                    <!-- END BLOG POST TEXT -->

                                    <!-- BEGIN BLOG POST MENUBAR -->
                                    <div class="col-md-3">
                                        <div class="card-body">



                                            <h3 class="text-light"><b>Основные характеристики</b> </h3>
                                            <ul class="nav nav-pills nav-stacked nav-transparent">
                                                <li><a href="#"><span class="badge pull-right"> до 50% годовых </span>Доходность</a></li>
                                                {#<li><a href="/docs/attachments.zip"><span class="badge pull-right"> zip </span>Фото</a></li>#}
                                                {#<li><a href="#"><span class="badge pull-right">12</span>Video</a></li>#}
                                                {#<li><a href="#"><span class="badge pull-right">5</span>Music</a></li>#}
                                                {#<li><a href="#"><span class="badge pull-right">28</span>Uncategorized</a></li>#}
                                            </ul>



                                            {#<h3 class="text-light">Tags</h3>#}
                                            {#<div class="list-tags">#}
                                                {#<a class="btn btn-xs btn-primary">Wordpress</a>#}
                                                {#<a class="btn btn-xs btn-primary">Technology</a>#}
                                                {#<a class="btn btn-xs btn-primary">HTML5</a>#}
                                                {#<a class="btn btn-xs btn-primary">Illustrator</a>#}
                                                {#<a class="btn btn-xs btn-primary">Music</a>#}
                                                {#<a class="btn btn-xs btn-primary">CSS3</a>#}
                                                {#<a class="btn btn-xs btn-primary">Video</a>#}
                                                {#<a class="btn btn-xs btn-primary">Photoshop</a>#}
                                                {#<a class="btn btn-xs btn-primary">jQuery</a>#}
                                            {#</div>#}
                                        </div><!--end .card-body -->
                                    </div><!--end .col -->
                                    <!-- END BLOG POST MENUBAR -->

                                </div><!--end .row -->
                            </div><!--end .card -->
                        </div><!--end .col -->

</div></div></section>





{% endblock %}
