{% extends 'admin/base.html.twig' %}

{% block body %}

        <!-- BEGIN CONTENT-->
            <section>
                <div class="section-body contain-lg">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-tiles style-default-light">

                                <!-- BEGIN BLOG POST HEADER -->
                                <div class="row style-primary">
                                    <div class="col-sm-9">
                                        <div class="card-body style-default-dark">
                                            <h2>Фондовая торговля</h2>
                                            <div class="text-default-light">
                                                {#Posted by <a href="#">Admin</a>#} <br />
                                            </div>
                                        </div>
                                    </div><!--end .col -->
                                    <div class="col-sm-3">
                                        <div class="card-body">
                                            <div class="hidden-xs">
                                                <center><h3 class="text-light"><strong><i class="md md-trending-up"></i></strong>  </h3></center>
                                                {#<a href="#">2 comments <i class="fa fa-comment-o"></i></a>#}
                                                <div class="stick-top-right">
                                                    {#<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Contact me"><i class="fa fa-envelope"></i></a><br/>#}
                                                    {#<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Follow me"><i class="fa fa-twitter"></i></a><br/>#}
                                                    {#<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Personal info"><i class="fa fa-facebook"></i></a>#}
                                                </div>
                                            </div>
                                            <div class="visible-xs">
                                                <center>
                                                    {#<a href="#">Тайланд </a>#}
                                                </center>
                                            </div>
                                        </div>
                                    </div><!--end .col -->
                                </div><!--end .row -->
                                <!-- END BLOG POST HEADER -->

                                <div class="row">

                                    <!-- BEGIN BLOG POST TEXT -->
                                    <div class="col-md-9">
                                        <article class="style-default-bright">
                                            <div>
                                                <img class="img-responsive" src="/main/photo/IDU_980 300.jpg" alt="" />
                                            </div>
                                            <div class="card-body">










                                                {#<p> Портфель №1 «Фондовый»</p>#}

                                                <h3><b>Портфель №1 «Фондовый»</b></h3>


                                                <p>Портфель №1 «Фондовый» создан для инвесторов, которые знакомы или хотя бы раз слышали понятие «Фондовый рынок» и «Биржа».</p>
                                                <p>Наши трейдеры приумножают Ваш депозит за счет совершения спекулятивных сделок на фондовом рынке таких базовых активов как фьючерсные контракты на нефть марки «Brent», индекс РТС, ММВБ, фьючерсы на валютные пары доллар/рубль, евро/доллар, акции Сбербанка                   и другие инструменты.</p>
                                                <p>Кроме этого, в среднесрочной и долгосрочной стратегии мы применяем «структурные портфели», состоящие из ликвидных акций голубых фишек, акций первого эшелона и на наш взгляд особо перспективных активов                 на классическом фондовом рынке, совмещая их с фьючерсными контрактами, но придерживаясь стратегии прежде всего сохранения депозита   и максимально-безопасного его приумножения.  </p>
                                                <p> Важно помнить, что преобладающее большинство сделок в данном продукте проводится на срочном рынке (примерное соотношение 30/70                        в пользу фьючерсов), так как это наиболее интересный на наш взгляд рынок для приумножения и разгона депозитов, поэтому риски несколько выше, чем при классической торговле акциями.</p>
                                                <p> В нашей торговой системе при открытии сделок трейдер в обязательном порядке, всегда выставляет «стоп-лоссы», поэтому потери минимальны, а вероятность заработать значительно выше, благодаря имеющемуся опыту и наличию в команде GBB настоящих профессионалов трейдеров и аналитиков.</p>
                                                <p> Наш проект выступает партнером брокера ООО «Компания БКС» и помогает Вам открывать счета в системе указанного брокера.</p>

                                                <p>•	Вход на рынок от 100 $ (когда один фьючерсный контракт может превышать эту сумму в несколько раз). Это возможно благодаря созданию пула инвесторов.</p>
                                                <p>•	Вам не нужно тратить время на обучение трейдингу и практику</p>
                                                <p>•	Работа с ликвидными инструментами и российским брокером</p>
                                                <p>•	Брокер выступает налоговым агентом, поэтому налогообложение Вас не будет касаться</p>
                                                <p>•	Уникальная торговая система, показывающая хорошие результаты</p>








                                                <p> <b>Основные характеристики </b></p>


                                                <table class="table table-bordered table-dark">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Основные характеристики портфеля №1 </th>
                                                        <th scope="col">Показатели</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Доходность</td>
                                                        <td>до 10-25% - месяц</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>Риск</td>
                                                        <td>до 15-25 % от депо</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>Минимальная сумма входа</td>
                                                        <td>100$</td>

                                                    </tr>


                                                    <tr>
                                                        <th scope="row">4</th>
                                                        <td>Частота выплат</td>
                                                        <td>сразу</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">5</th>
                                                        <td>Минимальный срок работы портфеля</td>
                                                        <td>любой </td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">6</th>
                                                        <td>Вывод тела депозита</td>
                                                        <td>да</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">7</th>
                                                        <td>Стратегия инвестирования</td>
                                                        <td>Cреднесрочная и долгосрочная</td>

                                                    </tr>

                                                    </tbody>
                                                </table>











                                                <p> Проект GBB оставляет за собой право удержания комиссии согласно договору и приложению к нему и распределения прибыли в  следующих пропорциях:</p>
                                                <p> •	При сумме депозита до 10 000$ - комиссия составит 30% от прибыли </p>
                                                <p> •	При сумме депозита от 10 000$ до 50 000$ - комиссия составиться 20%</p>
                                                <p> •	При сумме депозита свыше 50 000$ - комиссия составит 10%</p>
                                                <p> При этом, комиссионное вознаграждение должно быть переведено Инвестором на реквизиты компании GBB любым удобным доступным способом с 1 по 5 число каждого месяца, следующего за отчетным месяцем после закрытия успешных сделок. В случае нарушения сроков Инвестор несет ответственность согласно договору.</p>






                                                {#<p>ШАГ №1 ПОПОЛНИТЕ БРОКЕРСКИЙ СЧЕТ</p>#}
                                                {#<p>Бесплатно переведите деньги с карты «Брокер» в личном кабинете «БКС Онлайн»</p>#}
                                                {#<p>Через кассы БКС</p>#}
                                                {#<p>Безналичным переводом по реквизитам со счета любого банка</p>#}
                                                {#<p>В приложении «Мой брокер» 2,5% комиссия и лимит 100 000 рублей в месяц</p>#}
                                                {#<p>Будьте внимательны: в других банках возможно взимание комиссии за перевод на брокерский счет компании БКС.</p>#}
                                                {#<p>ШАГ №2 Оплатить DUTY в размере 6% от суммы депозита на реквизиты компании Global Big Bell любым удобным для Вас способом. Как оплатить DUTY?#}
                                                    {#<a href="/docs/Instructions_How_to_pay_DUTY.docx" style="color: #0a6ebd"> (ссылка Как оплатить DUTY). </a>#}


                                                {#</p>#}
                                                {#<p> Для Варианта №2</p>#}
                                                {#<p> Вам необходимо пополнить лицевой счет личного кабинета в проекте GBB любым удобным для Вас способом. Как пополнить счет личного кабинета можно узнать тут#}
                                                    {#<a href="/admin/add/" style="color: #0a6ebd">(ссылка как пополнить баланс личного кабинета).</a> </p>#}
                                                {#<p> Далее отправить денежные средства с личного счета в Портфель №1, нажав кнопку портфеля и указав сумму перевода. После этого, инвестированная сумма отображается в Портфеле №1-Ф.</p>#}
                                                {#<p>Начисление доходности происходит в личный кабинет не реже 1 раза в месяц с 1-5 число месяца, следующего за отчетным. Вывести денежные средства можно сразу же через обратную форму, указав способ вывода (реквизиты).</p>#}
                                                {#<p>Примечание: Внимание! Начисление доходности и отчетный период будут исчисляться всегда с 1-го числа месяца, независимо от даты пополнения счета.</p>#}
                                                {#<p>При зачислении депозита, системой автоматически оплачивается членский взнос «DUTY».</p>#}
                                                {#<p>Отчетный период наступает по истечении месяца, либо по выходу каких-либо первичных акций на рынок.</p>#}


<p> Нажмите кнопку <a href="https://my.broker.ru/login/" class="btn  btn-success" target="_blank"> Ваш БКС </a> и пройдите регистрацию в брокере чтобы вступить в наш пул инвесторов и зарабатывать вместе с нами !</p>
												<p>  Остались вопросы ? <a href="/#contact"  style="color: #0a6ebd"> контакты  </a></p>
												 


                                                    <div class="alert alert-callout alert-success"
                                                            {#style="background-color: #e5e6e6;margin-left: 11px;margin-top: 11px;margin-right: 11px;padding-top: 11px;padding-left: 11px;padding-right: 11px;"#}
                                                    >

                                                <p> Как зарегистрироваться в Портфель №1 «Фондовый»     <a href="/docs/1.docx" style="color: #0a6ebd"> (ссылка) </a> </p>
                                                <p> Как пополнить Портфель №2 «IPO»</p>
                                                <p> Для  Варианта №1 – (ссылка ШАГ № 6)</p>



                                                <button onclick="location.href='/docs/1.zip'" style="color: #f2f3f3;
                                        background-color: #4caf50;
                                        border-color: #4caf50;" type="button" class=" btn btn-block ink-reaction btn-default-bright" >
                                                            Скачать  все инструкции одним архивом
                                                        </button>
                                                    </div>



                                                {#<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
                                                {#<p>Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod turpis, id tincidunt sapien risus a quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque. Aliquam faucibus, elit ut dictum aliquet, felis nisl adipiscing sapien, sed malesuada diam lacus eget erat. Cras mollis scelerisque nunc. Nullam arcu. Aliquam consequat. Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, nisi. Aenean magna nisl, mollis quis, molestie eu, feugiat in, orci. In hac habitasse platea dictumst.</p>#}
                                                {#<p>Fusce convallis, mauris imperdiet gravida bibendum, nisl turpis suscipit mauris, sed placerat ipsum urna sed risus. In convallis tellus a mauris. Curabitur non elit ut libero tristique sodales. Mauris a lacus. Donec mattis semper leo. In hac habitasse platea dictumst. Vivamus facilisis diam at odio. Mauris dictum, nisi eget consequat elementum, lacus ligula molestie metus, non feugiat orci magna ac sem. Donec turpis. Donec vitae metus. Morbi tristique neque eu mauris. Quisque gravida ipsum non sapien. Proin turpis lacus, scelerisque vitae, elementum at, lobortis ac, quam. Aliquam dictum eleifend risus. In hac habitasse platea dictumst. Etiam sit amet diam. Suspendisse odio. Suspendisse nunc. In semper bibendum libero.</p>#}
                                                {#<p>Proin nonummy, lacus eget pulvinar lacinia, pede felis dignissim leo, vitae tristique magna lacus sit amet eros. Nullam ornare. Praesent odio ligula, dapibus sed, tincidunt eget, dictum ac, nibh. Nam quis lacus. Nunc eleifend molestie velit. Morbi lobortis quam eu velit. Donec euismod vestibulum massa. Donec non lectus. Aliquam commodo lacus sit amet nulla. Cras dignissim elit et augue. Nullam non diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Aenean vestibulum. Sed lobortis elit quis lectus. Nunc sed lacus at augue bibendum dapibus.</p>#}
                                                {#<p>Aliquam vehicula sem ut pede. Cras purus lectus, egestas eu, vehicula at, imperdiet sed, nibh. Morbi consectetuer luctus felis. Donec vitae nisi. Aliquam tincidunt feugiat elit. Duis sed elit ut turpis ullamcorper feugiat. Praesent pretium, mauris sed fermentum hendrerit, nulla lorem iaculis magna, pulvinar scelerisque urna tellus a justo. Suspendisse pulvinar massa in metus. Duis quis quam. Proin justo. Curabitur ac sapien. Nam erat. Praesent ut quam.</p>#}
                                                {#<br/>#}
                                                {#<div class="well clearfix">#}
                                                    {#<h4>About the author: Daniel Johnson</h4>#}
                                                    {#<img class="height-3 pull-right img-circle" src="/materialadmin/assets/img/avatar1.jpg?1403934956" alt="" />#}
                                                    {#<p>Aliquam vehicula sem ut pede. Cras purus lectus, egestas eu, vehicula at, imperdiet sed, nibh. Morbi consectetuer luctus felis. Donec vitae nisi. Aliquam tincidunt feugiat elit. Duis sed elit ut turpis ullamcorper feugiat. Praesent pretium, mauris sed fermentum hendrerit.</p>#}
                                                {#</div>#}
                                            </div><!--end .card-body -->

                                        </article>
                                    </div><!--end .col -->
                                    <!-- END BLOG POST TEXT -->

                                    <!-- BEGIN BLOG POST MENUBAR -->
                                    <div class="col-md-3">
                                        <div class="card-body">



                                            <h3 class="text-light"><b>Основные характеристики </b> </h3>
                                            <ul class="nav nav-pills nav-stacked nav-transparent">
                                                <li><a href="#"><span class="badge pull-right"> до 10-25%/мес </span>Доходность</a></li>
                                                {#<li><a href="/docs/attachments.zip"><span class="badge pull-right"> zip </span>Фото</a></li>#}
                                                {#<li><a href="#"><span class="badge pull-right">12</span>Video</a></li>#}
                                                {#<li><a href="#"><span class="badge pull-right">5</span>Music</a></li>#}
                                                {#<li><a href="#"><span class="badge pull-right">28</span>Uncategorized</a></li>#}
                                            </ul>



                                            {#<h3 class="text-light">Tags</h3>#}
                                            {#<div class="list-tags">#}
                                                {#<a class="btn btn-xs btn-primary">Wordpress</a>#}
                                                {#<a class="btn btn-xs btn-primary">Technology</a>#}
                                                {#<a class="btn btn-xs btn-primary">HTML5</a>#}
                                                {#<a class="btn btn-xs btn-primary">Illustrator</a>#}
                                                {#<a class="btn btn-xs btn-primary">Music</a>#}
                                                {#<a class="btn btn-xs btn-primary">CSS3</a>#}
                                                {#<a class="btn btn-xs btn-primary">Video</a>#}
                                                {#<a class="btn btn-xs btn-primary">Photoshop</a>#}
                                                {#<a class="btn btn-xs btn-primary">jQuery</a>#}
                                            {#</div>#}
                                        </div><!--end .card-body -->
                                    </div><!--end .col -->
                                    <!-- END BLOG POST MENUBAR -->

                                </div><!--end .row -->
                            </div><!--end .card -->
                        </div><!--end .col -->

</div></div></section>





{% endblock %}
