{% extends 'admin/base.html.twig' %}

{% block body %}

        <!-- BEGIN CONTENT-->
            <section>
                <div class="section-body contain-lg">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-tiles style-default-light">

                                <!-- BEGIN BLOG POST HEADER -->
                                <div class="row style-primary">
                                    <div class="col-sm-9">
                                        <div class="card-body style-default-dark">
                                            <h2>Американские первичные акции (IPO)</h2>
                                            <div class="text-default-light">
                                                {#Posted by <a href="#">Admin</a>#} <br />
                                            </div>
                                        </div>
                                    </div><!--end .col -->
                                    <div class="col-sm-3">
                                        <div class="card-body">
                                            <div class="hidden-xs">
                                                <center><h3 class="text-light"><strong><i class="md md-trending-up"></i></strong>  </h3></center>
                                                {#<a href="#">2 comments <i class="fa fa-comment-o"></i></a>#}
                                                <div class="stick-top-right">
                                                    {#<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Contact me"><i class="fa fa-envelope"></i></a><br/>#}
                                                    {#<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Follow me"><i class="fa fa-twitter"></i></a><br/>#}
                                                    {#<a class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Personal info"><i class="fa fa-facebook"></i></a>#}
                                                </div>
                                            </div>
                                            <div class="visible-xs">
                                                <center>
                                                    {#<a href="#">Тайланд </a>#}
                                                </center>
                                            </div>
                                        </div>
                                    </div><!--end .col -->
                                </div><!--end .row -->
                                <!-- END BLOG POST HEADER -->

                                <div class="row">

                                    <!-- BEGIN BLOG POST TEXT -->
                                    <div class="col-md-9">
                                        <article class="style-default-bright">
                                            <div>
                                                <img class="img-responsive" src="/main/photo/ipo.jpg" alt="" />
                                            </div>
                                            <div class="card-body">

                                                <button onclick="location.href='/docs/ipo_doc.docx'" style="color: #f2f3f3;
                                    background-color: #4caf50;
                                    border-color: #4caf50;" type="button" class=" btn btn-block ink-reaction btn-default-bright" >
                                                    скачать версию в формате word.doc
                                                </button>












                                                <p>Портфель №3</p>
                                                <p>«IPO»</p>
                                                <p>Портфель №3 «IPO» создан для инвесторов, которые уже знают, чем отличаются инвестиции от спекуляции.</p>
                                                <p>Ваши деньги умножаются с помощью такого инструмента, как рынок первичных американских акций Initial Public Offering или сокращенно IPO исключительно американских кампаний, вход на который ограничен значительным минимальным входом и порой не под силу инвестору                             с небольшой суммой депозита. Однако, компанией Global Big Bell был создан уникальный финансовый продукт – Портфель №3 «IPO», позволяющий входить в рынок всего от 1000 $ США со своего личного счета, открытого у американского брокера. А американский брокер – это прежде всего высокая надежность.</p>
                                                <p>Мы поможем Вам использовать американские рынки первичных ценных бумаг с минимальными рисками, благодаря серьезной команде аналитиков и большому опыту торговли в этой сфере, инсайдам, которые мы одними из первых получаем, чтобы грамотно и эффективно управлять Вашим капиталом и получать максимальную доходность при минимальных рисках.</p>
                                                <p>Преимущества:</p>
                                                <p>•	Вход от 1000 $, когда везде минимум – от 10 000 $</p>
                                                <p>•	Отсутствие комиссии при покупке и продаже акций*</p>
                                                <p>•	Продать первичные акции можно уже на второй день после выхода на рынок</p>
                                                <p>•	Ввод/вывод средств без комиссии*</p>
                                                <p>•	Вам не нужно тратить время на изучение инструмента, доверяйте профессионалам.</p>




                                                <table class="table table-bordered table-dark">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Основные характеристики портфеля </th>
                                                        <th scope="col">Показатели</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Доходность</td>
                                                        <td>до 100% - годовых</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>Риск</td>
                                                        <td>до 20-30 % от депо</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>Минимальная сумма входа</td>
                                                        <td>1000$</td>

                                                    </tr>


                                                    <tr>
                                                        <th scope="row">4</th>
                                                        <td>Частота выплат</td>
                                                        <td>На второй день после выхода акций на рынок</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">5</th>
                                                        <td>Минимальный срок работы портфеля</td>
                                                        <td>2 дня </td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">6</th>
                                                        <td>Вывод тела депозита</td>
                                                        <td>да</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">6</th>
                                                        <td>Стратегия инвестирования</td>
                                                        <td>среднесрочная и долгосрочная</td>

                                                    </tr>

                                                    </tbody>
                                                </table>







                                                <p>*Комиссия взимается брокером за брокерское обслуживание счета                     в размере 1,5 % от суммы депозита в месяц и 15% от суммы чистой прибыли (только при совершении успешных сделок).</p>
                                                <p>Проект GBB оставляет за собой право удержания комиссии согласно договору и приложению к нему и распределения прибыли в  следующих пропорциях:</p>
                                                <p>•	При сумме депозита до 10 000$ - 30/70%, где 70%-полагается инвестору;</p>
                                                <p>•	При сумме депозита от 10 000$ до 50 000$ - 20/80%, где 80%-полагается инвестору;</p>
                                                <p>•	При сумме депозита свыше 50 000$ - 10/90%, где 90%-полагается инвестору.</p>
                                                <p>При этом, комиссионные должны быть переведены Инвестором на реквизиты компании GBB любым удобным доступным способом не позднее 5 дней                  с момента закрытия успешных сделок. В случае нарушения сроков Инвестор несет ответственность согласно договору.</p>
                                                <p>Как зарегистрироваться в Портфель №2 «IPO»</p>
                                                <p>ВАРИАНТ №1</p>
                                                <p>Для регистрации в проекте Вам необходимо открыть счет в долларах в банке АО «Райффазенбанк» (  <a style="color: #0a6ebd;" href="https://www.raiffeisen.ru/retail/cards/debit/"> ссылка </a>).</p>
                                                <p>Далее прислать нам (ссылка на обратную форму) реквизиты счета и копию паспорта (фото+прописка).</p>
                                                <p>После этого наш сотрудник открывает для Вас счет в брокере Hudson Trading Group LLC, после чего присылает Вам на электронную почту скан договора для подписания.</p>
                                                <p>Далее Вам необходимо подписать договор и отправить его скан или фото нам на электронную почту.</p>
                                                <p>С этого момента Вы можете покупать и продавать акции IPO с нами, зарабатывая на разнице курсов.</p>
                                                <p>При этом, снимать, пополнять и распоряжаться лицевым счетом может только инвестор (то есть Вы), заявки на вывод осуществляются брокером строго на счет владельца счета.</p>
                                                <p>ВАРИАНТ № 2</p>
                                                <p>Мы регистрируем для Вас счет у брокера самостоятельно и совершаем сделки от своего имени, показывая отчеты об их совершении.</p>

                                                <p>Для этого Вам необходимо оплатить курс обучения финансовой грамотности и основам инвестирования (ссылка оплатить курс обучения)               в формате видео урока(ов) в объеме в зависимости от суммы инвестирования.</p>
                                                <p>Вся сумма денежных средств, оплаченных Вами за курсы обучения                за минусом DUTY поступает на счет брокера для работы в  Портфеле №3 «IPO».</p>
                                                <p>Условия работы и выплат, а также размеры комиссий за обслуживание счета сохраняются те же, что и при самостоятельном открытии счета.</p>

                                                <p>Как пополнить Портфель №2 «IPO»</p>
                                                <p>ВАРИАНТ №1</p>
                                                <p>ШАГ №1 Для пополнения счета Вам необходимо осуществить перевод денежных средств в долларах США на реквизиты, указанные в договоре.</p>
                                                <p>Для этого с подписанным договором прийти в банк (выгоднее всего осуществлять перевод через АО «Райффазенбанк»), либо в любой другой банк.</p>
                                                <p>ШАГ №2 Оплатить DUTY в размере 6% от суммы депозита на реквизиты компании Global Big Bell любым удобным для Вас способом.</p>
                                                <p>ВАРИАНТ №2</p>
                                                <p>При 2 варианте регистрации счета Инвестор производит оплату любым доступным и удобным ему способом (ссылка внести денежные средства в личный кабинет).</p>
                                                <p>Узнать «Как пополнить баланс?» (ссылка)</p>
                                                <p>При этом в личном кабинете проекта GBB Вы увидите поступившие денежных средств, далее их необходимо перевести в Портфель №2 «IPO».</p>
                                                <p>С этого момента денежные средства отправляются в работу.</p>
                                                <p>Отчетный период наступает по истечении месяца, либо по выходу каких-либо первичных акций на рынок.</p>











                                                {#<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
                                                {#<p>Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod turpis, id tincidunt sapien risus a quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque. Aliquam faucibus, elit ut dictum aliquet, felis nisl adipiscing sapien, sed malesuada diam lacus eget erat. Cras mollis scelerisque nunc. Nullam arcu. Aliquam consequat. Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, nisi. Aenean magna nisl, mollis quis, molestie eu, feugiat in, orci. In hac habitasse platea dictumst.</p>#}
                                                {#<p>Fusce convallis, mauris imperdiet gravida bibendum, nisl turpis suscipit mauris, sed placerat ipsum urna sed risus. In convallis tellus a mauris. Curabitur non elit ut libero tristique sodales. Mauris a lacus. Donec mattis semper leo. In hac habitasse platea dictumst. Vivamus facilisis diam at odio. Mauris dictum, nisi eget consequat elementum, lacus ligula molestie metus, non feugiat orci magna ac sem. Donec turpis. Donec vitae metus. Morbi tristique neque eu mauris. Quisque gravida ipsum non sapien. Proin turpis lacus, scelerisque vitae, elementum at, lobortis ac, quam. Aliquam dictum eleifend risus. In hac habitasse platea dictumst. Etiam sit amet diam. Suspendisse odio. Suspendisse nunc. In semper bibendum libero.</p>#}
                                                {#<p>Proin nonummy, lacus eget pulvinar lacinia, pede felis dignissim leo, vitae tristique magna lacus sit amet eros. Nullam ornare. Praesent odio ligula, dapibus sed, tincidunt eget, dictum ac, nibh. Nam quis lacus. Nunc eleifend molestie velit. Morbi lobortis quam eu velit. Donec euismod vestibulum massa. Donec non lectus. Aliquam commodo lacus sit amet nulla. Cras dignissim elit et augue. Nullam non diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Aenean vestibulum. Sed lobortis elit quis lectus. Nunc sed lacus at augue bibendum dapibus.</p>#}
                                                {#<p>Aliquam vehicula sem ut pede. Cras purus lectus, egestas eu, vehicula at, imperdiet sed, nibh. Morbi consectetuer luctus felis. Donec vitae nisi. Aliquam tincidunt feugiat elit. Duis sed elit ut turpis ullamcorper feugiat. Praesent pretium, mauris sed fermentum hendrerit, nulla lorem iaculis magna, pulvinar scelerisque urna tellus a justo. Suspendisse pulvinar massa in metus. Duis quis quam. Proin justo. Curabitur ac sapien. Nam erat. Praesent ut quam.</p>#}
                                                {#<br/>#}
                                                {#<div class="well clearfix">#}
                                                    {#<h4>About the author: Daniel Johnson</h4>#}
                                                    {#<img class="height-3 pull-right img-circle" src="/materialadmin/assets/img/avatar1.jpg?1403934956" alt="" />#}
                                                    {#<p>Aliquam vehicula sem ut pede. Cras purus lectus, egestas eu, vehicula at, imperdiet sed, nibh. Morbi consectetuer luctus felis. Donec vitae nisi. Aliquam tincidunt feugiat elit. Duis sed elit ut turpis ullamcorper feugiat. Praesent pretium, mauris sed fermentum hendrerit.</p>#}
                                                {#</div>#}




                                            </div><!--end .card-body -->
                                        </article>
                                    </div><!--end .col -->
                                    <!-- END BLOG POST TEXT -->

                                    <!-- BEGIN BLOG POST MENUBAR -->
                                    <div class="col-md-3">
                                        <div class="card-body">



                                            <h3 class="text-light">Основные характеристики </h3>
                                            <ul class="nav nav-pills nav-stacked nav-transparent">
                                                <li><a href="#"><span class="badge pull-right"> до 100% - годовых </span>Доходность</a></li>
                                                {#<li><a href="/docs/attachments.zip"><span class="badge pull-right"> zip </span>Фото</a></li>#}
                                                {#<li><a href="#"><span class="badge pull-right">12</span>Video</a></li>#}
                                                {#<li><a href="#"><span class="badge pull-right">5</span>Music</a></li>#}
                                                {#<li><a href="#"><span class="badge pull-right">28</span>Uncategorized</a></li>#}
                                            </ul>



                                            {#<h3 class="text-light">Tags</h3>#}
                                            {#<div class="list-tags">#}
                                                {#<a class="btn btn-xs btn-primary">Wordpress</a>#}
                                                {#<a class="btn btn-xs btn-primary">Technology</a>#}
                                                {#<a class="btn btn-xs btn-primary">HTML5</a>#}
                                                {#<a class="btn btn-xs btn-primary">Illustrator</a>#}
                                                {#<a class="btn btn-xs btn-primary">Music</a>#}
                                                {#<a class="btn btn-xs btn-primary">CSS3</a>#}
                                                {#<a class="btn btn-xs btn-primary">Video</a>#}
                                                {#<a class="btn btn-xs btn-primary">Photoshop</a>#}
                                                {#<a class="btn btn-xs btn-primary">jQuery</a>#}
                                            {#</div>#}
                                        </div><!--end .card-body -->
                                    </div><!--end .col -->
                                    <!-- END BLOG POST MENUBAR -->

                                </div><!--end .row -->
                            </div><!--end .card -->
                        </div><!--end .col -->

</div></div></section>





{% endblock %}
