{% extends 'index/base.html.twig' %}

{% block title %}404 — {% endblock %}

{% block body %}
    <div class="text-center py-5"
         style="background-image: url('/main/site-assets/cover_curve.jpg');background-position:center bottom;background-size:cover;">
        <div class="container py-4 mt-4">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="mb-2 display-5">404</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center section py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mb-2 display-5">Not Found</h1>
                    <p class="px-2 text-white-shadowed">
                        Something is broken.<br/>
                        Please let us know what you were doing<br/>
                        when this error occurred.<br/>
                        We will fix it as soon as possible.<br/>
                        Sorry for any inconvenience caused.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
